# Inteligencia de Negocio en Supermercado Cooperativo La Osa

# Análisis Exploratorio

In [215]:
# Cargar librerías
import pandas as pd
import seaborn as sn
import numpy as np
import matplotlib as ploty

%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [216]:
### Importamos los datasets
# Datasets de compra de productos a proveedores 2021-2022
precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")
precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls") # Obs. columna mes diciembre se encuenra con datos similares en precio_2022
precio_2021= pd.read_excel("Price_history_2021.xls")
precio_2022= pd.read_excel("Price_history_122022.xls")  # Una sóla columna aparentemente similar a dic de precio_juldic

#Datasets de venta de productos al publico 2021-2022
ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

In [217]:
# 1. Analizando el dataframe: precio_enejun
# Visualizar información básica del dataframe precio_enejun
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [218]:
precio_enejun

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_78926_abded360,Envase Veer 33cl,0.15,2022-06-29 21:10:50,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
1,__export__.product_price_history_78925_30713b35,Envase Veer 33cl,0.15,2022-06-29 20:25:26,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
2,__export__.product_price_history_78916_73aa1b21,Fuet extra Biobardales 200 gr,2.95,2022-06-29 19:22:59,Eco,597.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
3,__export__.product_price_history_78919_197ec6c0,"Preparado para legumbres chorizo, morcilla, pa...",2.90,2022-06-29 19:22:59,Eco,1252.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
4,__export__.product_price_history_78918_c43ac4cb,Lomo extra lonchas Biobardales 100 gr,3.45,2022-06-29 19:22:59,Eco,877.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
...,...,...,...,...,...,...,...,...
33356,__export__.product_price_history_57476_a123a605,Envase Veer 33cl,0.15,2022-01-02 13:14:07,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
33357,__export__.product_price_history_57475_01d2b4c1,Envase Veer 75cl,0.50,2022-01-02 12:11:49,Eco,1638.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
33358,__export__.product_price_history_57473_9223a116,Hogaza de trigo 3 Letras Pan 1 kg,2.89,2022-01-02 10:30:22,Convencional,5074.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
33359,__export__.product_price_history_57474_6d53100b,Hogaza integral 3 Letras Pan 1 kg,2.74,2022-01-02 10:30:22,Eco,5075.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
33360,__export__.product_price_history_57472_e1e9d62e,Chapata 3 Letras Pan 350 gr,1.44,2022-01-02 10:30:22,Eco,5072.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...

In [219]:
# 2. Analizando el dataframe: precio_juldic
# Visualizar información básica del dataframe precio_juldic
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [220]:
precio_juldic

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_95321_35282e65,Barrita de sésamo bio Ideas 20 gr,0.26,2022-12-14 12:37:50,Eco,135.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Desayunos y merienda / Tortita...
1,__export__.product_price_history_95315_6718a328,Crema de cacahuete bio Ethiquable 350 gr,3.63,2022-12-14 12:37:50,Eco,467.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Cremas u...
2,__export__.product_price_history_95314_e5481612,Caramelos cereza y jengibre bio Ideas 100 g,1.66,2022-12-14 12:37:50,Eco,5196.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
3,__export__.product_price_history_95313_1e7ac49b,Caramelos miel y anís bio Ideas 100 gr,1.57,2022-12-14 12:37:50,Eco,3443.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
4,__export__.product_price_history_95312_1fbab516,Refresco de cola Frixen 33 cl,1.30,2022-12-14 12:37:50,Eco,1309.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Aguas y refrescos / Refrescos
...,...,...,...,...,...,...,...,...
24778,__export__.product_price_history_78928_ebc91b42,Melocoton amarillo,2.33,2022-06-30 08:16:35,Eco,938.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de hueso
24779,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
24780,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
24781,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
24782,__export__.product_price_history_78927_9cdb8c96,Manzana Choupette,1.87,2022-06-30 08:16:35,Eco,4490.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita

In [221]:
# 3. Analizando el dataframe: precio_2021
# Visualizar información básica del dataframe precio_2021
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [222]:
precio_2021

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_57358_1e54992d,Manzana royal gala,1.53,2021-12-30 18:51:57,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...,...
57553,__export__.product_price_history_17321_030fc96e,Pan levain La miguiña 1 kg,3.30,2021-01-02 08:33:16,Convencional,2602.0,(LA MIGUIÑA) LA MIGUIÑA S.L.,Resto Producto Fresco / Panadería y bollería s...
57554,__export__.product_price_history_17319_e9e33a8c,Chapata La miguiña 1 Kg,2.80,2021-01-02 08:33:16,Convencional,2600.0,(LA MIGUIÑA) LA MIGUIÑA S.L.,Resto Producto Fresco / Panadería y bollería s...
57555,__export__.product_price_history_17317_607ad568,Copos 5 cereales bio El Granero Integral 500 gr,1.37,2021-01-01 12:23:33,Eco,3733.0,(BIOGRAN) BIOGRAN S.L.,Seco Envasado / Desayunos y merienda / Cereales
57556,__export__.product_price_history_17316_a7765be4,Copos amaranto bio El Granero Integral 250 gr,2.21,2021-01-01 12:22:37,Eco,3732.0,(BIOGRAN) BIOGRAN S.L.,Seco Envasado / Cereales y semillas / Cereales
57557,__export__.product_price_history_17315_175465d1,Gofio maíz bio La Piña 500 gr,1.81,2021-01-01 12:18:55,Eco,6129.0,(BIOGRAN) BIOGRAN S.L.,"Seco Envasado / Panes, harinas / Harinas"

In [223]:
# 4. Analizando el dataframe: precio_2022
# Visualizar información básica del dataframe precio_2022
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

In [224]:
precio_2022

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_96984_4bf1bf39,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-12-30 21:03:38,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
2,__export__.product_price_history_96985_0c0a24a8,Queso eco peregrino producción limitada Casa G...,7.70,2022-12-30 21:03:38,Eco,1285.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,Resto Producto Fresco / Quesos / Curados y fer...
3,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
4,__export__.product_price_history_96965_065bfbca,Yogur griego con stracciatella pack 2 Casa gra...,1.45,2022-12-30 21:03:38,Eco,4443.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
4249,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4250,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
4251,__export__.product_price_history_94161_7fe055d2,Kiwi verde nacional,3.13,2022-12-01 07:53:52,Eco,816.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de pepita
4252,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4253,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN

In [225]:
# 5. Analizando el dataframe: ventas_2021
# Visualizar información básica del dataframe ventas_2021
ventas_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3879 entries, 0 to 3878
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3877 non-null   object
 1   Total        1907 non-null   object
 2   Unnamed: 2   1906 non-null   object
 3   Unnamed: 3   2067 non-null   object
 4   Unnamed: 4   2066 non-null   object
 5   Unnamed: 5   2251 non-null   object
 6   Unnamed: 6   2250 non-null   object
 7   Unnamed: 7   2327 non-null   object
 8   Unnamed: 8   2326 non-null   object
 9   Unnamed: 9   2381 non-null   object
 10  Unnamed: 10  2380 non-null   object
 11  Unnamed: 11  2485 non-null   object
 12  Unnamed: 12  2484 non-null   object
 13  Unnamed: 13  2465 non-null   object
 14  Unnamed: 14  2464 non-null   object
 15  Unnamed: 15  2264 non-null   object
 16  Unnamed: 16  2263 non-null   object
 17  Unnamed: 17  2542 non-null   object
 18  Unnamed: 18  2541 non-null   object
 19  Unnamed: 19  2599 non-null   object
 20  Unnamed: 20  2598 non-null   object
 21  Unnamed: 21  2680 non-null   object
 22  Unnamed: 22  2679 non-null   object
 23  Unnamed: 23  2748 non-null   object
 24  Unnamed: 24  2747 non-null   object
 25  Unnamed: 25  3878 non-null   object
 26  Unnamed: 26  3878 non-null   object
dtypes: object(27)
memory usage: 818.4+ KB

In [226]:
ventas_2021

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,enero 2021,NaN,febrero 2021,NaN,marzo 2021,NaN,abril 2021,NaN,mayo 2021,...,septiembre 2021,NaN,octubre 2021,NaN,noviembre 2021,NaN,diciembre 2021,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,22238.75,3.241511,26905.815,3.217539,29978.455,3.259158,28332.157,3.391073,25373.829,...,25386.211,3.38311,28317.427,3.581475,28297.971,3.822941,28992.494,3.974771,309315.499,3.484218
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [227]:
# 6. Analizando el dataframe: ventas_2022
# Visualizar información básica del dataframe ventas_2022
ventas_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3937 entries, 0 to 3936
Data columns (total 27 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3935 non-null   object
 1   Total        2723 non-null   object
 2   Unnamed: 2   2722 non-null   object
 3   Unnamed: 3   2662 non-null   object
 4   Unnamed: 4   2661 non-null   object
 5   Unnamed: 5   2750 non-null   object
 6   Unnamed: 6   2749 non-null   object
 7   Unnamed: 7   2741 non-null   object
 8   Unnamed: 8   2740 non-null   object
 9   Unnamed: 9   2668 non-null   object
 10  Unnamed: 10  2667 non-null   object
 11  Unnamed: 11  2605 non-null   object
 12  Unnamed: 12  2604 non-null   object
 13  Unnamed: 13  2526 non-null   object
 14  Unnamed: 14  2525 non-null   object
 15  Unnamed: 15  2361 non-null   object
 16  Unnamed: 16  2360 non-null   object
 17  Unnamed: 17  2607 non-null   object
 18  Unnamed: 18  2606 non-null   object
 19  Unnamed: 19  2614 non-null   object
 20  Unnamed: 20  2613 non-null   object
 21  Unnamed: 21  2644 non-null   object
 22  Unnamed: 22  2643 non-null   object
 23  Unnamed: 23  2720 non-null   object
 24  Unnamed: 24  2719 non-null   object
 25  Unnamed: 25  3936 non-null   object
 26  Unnamed: 26  3936 non-null   object
dtypes: object(27)
memory usage: 830.6+ KB

In [228]:
ventas_2022

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,enero 2022,NaN,febrero 2022,NaN,marzo 2022,NaN,abril 2022,NaN,mayo 2022,...,septiembre 2022,NaN,octubre 2022,NaN,noviembre 2022,NaN,diciembre 2022,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,31448.363,3.757765,33712.823,3.779414,40735.883,3.761538,35024.322,3.89496,33788.774,...,29279.64,3.886839,29849.821,3.931161,30445.756,3.874141,31114.784,4.232161,371375.069,3.862021
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

# Analizando Ventas_2021 y 2022

In [229]:
# Datasets de venta de productos al publico 2021-2022
# ventas_2021= pd.read_excel("Ventas_PVP_inflación_2021.xls")
# ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")

## Ventas_2021

In [230]:
# Renombrar columnas
ventas_2021.rename(columns={'Unnamed: 0':'Id_Prod', 
                            'Total':'Cant_Prod_Ene',
                            'Unnamed: 2':'Precio_Prod_Ene', 
                            'Unnamed: 3':'Cant_Prod_Feb',
                            'Unnamed: 4':'Precio_Prod_Feb', 
                            'Unnamed: 5':'Cant_Prod_Mar',
                            'Unnamed: 6':'Precio_Prod_Mar', 
                            'Unnamed: 7':'Cant_Prod_Abr',
                            'Unnamed: 8':'Precio_Prod_Abr', 
                            'Unnamed: 9':'Cant_Prod_May',
                            'Unnamed: 10':'Precio_Prod_May', 
                            'Unnamed: 11':'Cant_Prod_Jun',
                            'Unnamed: 12':'Precio_Prod_Jun', 
                            'Unnamed: 13':'Cant_Prod_Jul',
                            'Unnamed: 14':'Precio_Prod_Jul', 
                            'Unnamed: 15':'Cant_Prod_Ago',
                            'Unnamed: 16':'Precio_Prod_Ago', 
                            'Unnamed: 17':'Cant_Prod_Set',
                            'Unnamed: 18':'Precio_Prod_Set', 
                            'Unnamed: 19':'Cant_Prod_Oct', 
                            'Unnamed: 20':'Precio_Prod_Oct', 
                            'Unnamed: 21':'Cant_Prod_Nov', 
                            'Unnamed: 22':'Precio_Prod_Nov', 
                            'Unnamed: 23':'Cant_Prod_Dic', 
                            'Unnamed: 24':'Precio_Prod_Dic', 
                            'Unnamed: 25':'Cant_Total_Prod', 
                            'Unnamed: 26':'Precio_Total_Prod'
                             }, inplace=True)

In [231]:
# Eliminar 3 filas
ventas_2021_new = ventas_2021.drop([0, 1,2])
ventas_2021_new

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
5,[000009] Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8
6,[000010] Aceite desmaquillador Piel sana ...,NaN,NaN,1,12.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.5
7,[000011] Aceite espliego y rosas Piel san...,4,12.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,[006160] Yogur de soja con limón Sojade 4...,4,2.95,10,2.811111,10,2.65,16,2.65,5,...,10,2.9,10,2.9,7,2.9,16,3.04,123,2.826606
3875,[006161] Yogur de soja con plátano y mara...,5,2.95,7,2.95,7,2.65,5,2.65,7,...,5,2.9,5,2.9,NaN,NaN,8,3.0875,61,2.840164
3876,[006162] Yogur de soja natural Sojade 400 g,12,1.95,14,1.85,19,1.75,12,1.75,17,...,18,2,21,2,16,2,12,2.066667,194,1.92953
3877,[006163] Yogur de soja natural Sojade 4 x...,13,2.25,7,2.192857,7,2.05,6,2.25,2,...,10,2.3,14,2.3,7,2.3,9,2.407143,91,2.260526
3878,[006164] Yogur de soja quark griego Sojad...,6,2.1,11,2.011111,22,1.9,20,1.9,10,...,18,2.15,22,2.15,19,2.15,22,2.225,196,2.080822

In [232]:
registro = ventas_2021_new.Id_Prod.loc[3875]
print(registro)

     [006161] Yogur de soja con plátano y maracuyá sin azúcar Sojade 400 g

In [233]:
# Para separar en dos columnas Id_Prod y a la vez eliminar espacios vacios e irregulares
ventas_2021_new["Id_Prod"]=ventas_2021_new["Id_Prod"].astype("category")
ventas_2021_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 3 to 3878
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id_Prod            3876 non-null   category
 1   Cant_Prod_Ene      1904 non-null   object
 2   Precio_Prod_Ene    1904 non-null   object
 3   Cant_Prod_Feb      2064 non-null   object
 4   Precio_Prod_Feb    2064 non-null   object
 5   Cant_Prod_Mar      2248 non-null   object
 6   Precio_Prod_Mar    2248 non-null   object
 7   Cant_Prod_Abr      2324 non-null   object
 8   Precio_Prod_Abr    2324 non-null   object
 9   Cant_Prod_May      2378 non-null   object
 10  Precio_Prod_May    2378 non-null   object
 11  Cant_Prod_Jun      2482 non-null   object
 12  Precio_Prod_Jun    2482 non-null   object
 13  Cant_Prod_Jul      2462 non-null   object
 14  Precio_Prod_Jul    2462 non-null   object
 15  Cant_Prod_Ago      2261 non-null   object
 16  Precio_Prod_Ago    2261 non-null   object
 17  Cant_Prod_Set      2539 non-null   object
 18  Precio_Prod_Set    2539 non-null   object
 19  Cant_Prod_Oct      2596 non-null   object
 20  Precio_Prod_Oct    2596 non-null   object
 21  Cant_Prod_Nov      2677 non-null   object
 22  Precio_Prod_Nov    2677 non-null   object
 23  Cant_Prod_Dic      2745 non-null   object
 24  Precio_Prod_Dic    2745 non-null   object
 25  Cant_Total_Prod    3876 non-null   object
 26  Precio_Total_Prod  3876 non-null   object
dtypes: category(1), object(26)
memory usage: 954.3+ KB

In [234]:
# Usamos la expresión regular para extraer el código y el nombre
patron = r'\[(.*?)\]\s*(.*)'
ventas_2021_new[['Id_Prod_2', 'Nom_Prod']] = ventas_2021_new['Id_Prod'].str.extract(patron)

In [235]:
ventas_2021_new.head(2)

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod,Id_Prod_2,Nom_Prod
3,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7,000007,Aceite árnica y romero Piel sana 100 ml
4,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5,000008,Aceite caléndula y almendras Piel sana 100 ml

In [236]:
# Obtén una lista con los nombres de las columnas 
nuevas_columnas = ['Id_Prod_2', 'Nom_Prod'] + list(ventas_2021_new.columns[:-2])

In [237]:
# Reorganiza el DataFrame 
ventas_2021_new = ventas_2021_new.reindex(columns=nuevas_columnas)
ventas_2021_new.head(3)

,Id_Prod_2,Nom_Prod,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000007,Aceite árnica y romero Piel sana 100 ml,[000007] Aceite árnica y romero Piel sana...,NaN,NaN,1,11.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,000008,Aceite caléndula y almendras Piel sana 100 ml,[000008] Aceite caléndula y almendras Pie...,2,12.5,NaN,NaN,1,12.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5
5,000009,Aceite coco Maya gold 450 ml,[000009] Aceite coco Maya gold 450 ml,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,8,2,8,2,8,2,8,18,8

In [238]:
len(ventas_2021_new)

3876

In [239]:
# Eliminar columna Id_Prod
ventas_2021_new=ventas_2021_new.drop("Id_Prod",axis=1)

In [240]:
ventas_2021_new.head(2)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,1,11.7,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,11.7
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,NaN,NaN,1,12.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,12.5

In [241]:
# Reasignar nombre del dataframe
dfventas_2021=ventas_2021_new

In [242]:
# Proceso de transicion, aplicando nueva opcion para desdoblar columnas, verificar resultados por precaución.

In [243]:
# Separar columnas de Enero
dfventas_Ene_2021 = dfventas_2021.drop(["Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5
...,...,...,...,...
3874,006160,Yogur de soja con limón Sojade 400 g,4,2.95
3875,006161,Yogur de soja con plátano y maracuyá sin azúca...,5,2.95
3876,006162,Yogur de soja natural Sojade 400 g,12,1.95
3877,006163,Yogur de soja natural Sojade 4 x 100 g,13,2.25
3878,006164,Yogur de soja quark griego Sojade 400 g,6,2.1

In [244]:
# En los ultimos registros esta faltando la unidad de medida, verifique con los ultimos registros del primer dataframe.
registro2 = dfventas_Ene_2021.Nom_Prod.loc[3869]
print(registro2)

Yogur de coco con mango Abbot kinney 400 ml

In [245]:
# crea la lista de fechas especificadas
fecha = "31-01-2021"
lista_fechas_Enero_2021 = [fecha] * len(dfventas_Ene_2021)

In [246]:
# agrega la nueva columna al DataFrame
dfventas_Ene_2021["fecha"] = lista_fechas_Enero_2021
dfventas_Ene_2021

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021
...,...,...,...,...,...
3874,006160,Yogur de soja con limón Sojade 400 g,4,2.95,31-01-2021
3875,006161,Yogur de soja con plátano y maracuyá sin azúca...,5,2.95,31-01-2021
3876,006162,Yogur de soja natural Sojade 400 g,12,1.95,31-01-2021
3877,006163,Yogur de soja natural Sojade 4 x 100 g,13,2.25,31-01-2021
3878,006164,Yogur de soja quark griego Sojade 400 g,6,2.1,31-01-2021

In [247]:
# Renombrar columnas enero  
dfventas_Ene_2021.rename(columns={'Cant_Prod_Ene':'Cant_Prod', 
                            'Precio_Prod_Ene':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ene_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021

In [248]:
# Separar columnas de Febrero
dfventas_Feb_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Feb_2021
# crea la lista de fechas especificadas
fecha = "28-02-2021"
lista_fechas_febreo_2021 = [fecha] * len(dfventas_Feb_2021)
# agrega la nueva columna al DataFrame
dfventas_Feb_2021["fecha"] = lista_fechas_febreo_2021
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Feb,Precio_Prod_Feb,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,1,11.7,28-02-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,28-02-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,28-02-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,1,12.5,28-02-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,28-02-2021

In [249]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Feb_2021.rename(columns={'Cant_Prod_Feb':'Cant_Prod', 
                            'Precio_Prod_Feb':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Feb_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,1,11.7,28-02-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,28-02-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,28-02-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,1,12.5,28-02-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,28-02-2021

In [250]:
# Separar columnas de Marzo
dfventas_Mar_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Mar_2021
# crea la lista de fechas especificadas
fecha = "31-03-2021"
lista_fechas_marzo_2021 = [fecha] * len(dfventas_Mar_2021)
# agrega la nueva columna al DataFrame
dfventas_Mar_2021["fecha"] = lista_fechas_marzo_2021
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Mar,Precio_Prod_Mar,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-03-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,1,12.5,31-03-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-03-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-03-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-03-2021

In [251]:
# Renombrar columnas marzo  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Mar_2021.rename(columns={'Cant_Prod_Mar':'Cant_Prod', 
                            'Precio_Prod_Mar':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Mar_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-03-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,1,12.5,31-03-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-03-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-03-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-03-2021

In [252]:
# Separar columnas de Abril
dfventas_Abr_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Abr_2021
# crea la lista de fechas especificadas
fecha = "30-04-2021"
lista_fechas_abril_2021 = [fecha] * len(dfventas_Abr_2021)
# agrega la nueva columna al DataFrame
dfventas_Abr_2021["fecha"] = lista_fechas_abril_2021
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Abr,Precio_Prod_Abr,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-04-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-04-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-04-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-04-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-04-2021

In [253]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Abr_2021.rename(columns={'Cant_Prod_Abr':'Cant_Prod', 
                            'Precio_Prod_Abr':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Abr_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-04-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-04-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-04-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-04-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-04-2021

In [254]:
# Separar columnas de Mayo
dfventas_May_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_May_2021
# crea la lista de fechas especificadas
fecha = "31-05-2021"
lista_fechas_mayo_2021 = [fecha] * len(dfventas_May_2021)
# agrega la nueva columna al DataFrame
dfventas_May_2021["fecha"] = lista_fechas_mayo_2021
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_May,Precio_Prod_May,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-05-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-05-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-05-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-05-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-05-2021

In [255]:

# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_May_2021.rename(columns={'Cant_Prod_May':'Cant_Prod', 
                            'Precio_Prod_May':'Precio_Prod',                            
                             }, inplace=True)
dfventas_May_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-05-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-05-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-05-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-05-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-05-2021

In [256]:

# Separar columnas de Jun
dfventas_Jun_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jun_2021
# crea la lista de fechas especificadas
fecha = "30-06-2021"
lista_fechas_junio_2021 = [fecha] * len(dfventas_Jun_2021)
# agrega la nueva columna al DataFrame
dfventas_Jun_2021["fecha"] = lista_fechas_junio_2021
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jun,Precio_Prod_Jun,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-06-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,30-06-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-06-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-06-2021

In [257]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jun_2021.rename(columns={'Cant_Prod_Jun':'Cant_Prod', 
                            'Precio_Prod_Jun':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jun_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-06-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,30-06-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-06-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-06-2021

In [258]:
# Separar columnas de Jul
dfventas_Jul_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jul_2021
# crea la lista de fechas especificadas
fecha = "31-07-2021"
lista_fechas_julio_2021 = [fecha] * len(dfventas_Jul_2021)
# agrega la nueva columna al DataFrame
dfventas_Jul_2021["fecha"] = lista_fechas_julio_2021
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jul,Precio_Prod_Jul,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-07-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-07-2021
5,000009,Aceite coco Maya gold 450 ml,4,8,31-07-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-07-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-07-2021

In [259]:
# Renombrar columnas 
dfventas_Jul_2021.rename(columns={'Cant_Prod_Jul':'Cant_Prod', 
                            'Precio_Prod_Jul':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jul_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-07-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-07-2021
5,000009,Aceite coco Maya gold 450 ml,4,8,31-07-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-07-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-07-2021

In [260]:
# Separar columnas de Agosto
dfventas_Ago_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ago_2021
# crea la lista de fechas especificadas
fecha = "31-08-2021"
lista_fechas_agosto_2021 = [fecha] * len(dfventas_Ago_2021)
# agrega la nueva columna al DataFrame
dfventas_Ago_2021["fecha"] = lista_fechas_agosto_2021
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ago,Precio_Prod_Ago,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-08-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-08-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-08-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-08-2021

In [261]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ago_2021.rename(columns={'Cant_Prod_Ago':'Cant_Prod', 
                            'Precio_Prod_Ago':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ago_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-08-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-08-2021
5,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-08-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-08-2021

In [262]:
# Separar columnas de Setiembre
dfventas_Set_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Set_2021
# crea la lista de fechas especificadas
fecha = "30-09-2021"
lista_fechas_setiembre_2021 = [fecha] * len(dfventas_Set_2021)
# agrega la nueva columna al DataFrame
dfventas_Set_2021["fecha"] = lista_fechas_setiembre_2021
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Set,Precio_Prod_Set,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-09-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-09-2021
5,000009,Aceite coco Maya gold 450 ml,6,8,30-09-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-09-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-09-2021

In [263]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Set_2021.rename(columns={'Cant_Prod_Set':'Cant_Prod', 
                            'Precio_Prod_Set':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Set_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-09-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-09-2021
5,000009,Aceite coco Maya gold 450 ml,6,8,30-09-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-09-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-09-2021

In [264]:
# Separar columnas de Octubre
dfventas_Oct_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Oct_2021
# crea la lista de fechas especificadas
fecha = "31-10-2021"
lista_fechas_octubre_2021 = [fecha] * len(dfventas_Oct_2021)
# agrega la nueva columna al DataFrame
dfventas_Oct_2021["fecha"] = lista_fechas_octubre_2021
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Oct,Precio_Prod_Oct,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-10-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-10-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-10-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-10-2021

In [265]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Oct_2021.rename(columns={'Cant_Prod_Oct':'Cant_Prod', 
                            'Precio_Prod_Oct':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Oct_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-10-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-10-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-10-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-10-2021

In [266]:
# Separar columnas de Noviembre
dfventas_Nov_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Nov_2021
# crea la lista de fechas especificadas
fecha = "30-11-2021"
lista_fechas_noviembre_2021 = [fecha] * len(dfventas_Nov_2021)
# agrega la nueva columna al DataFrame
dfventas_Nov_2021["fecha"] = lista_fechas_noviembre_2021
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Nov,Precio_Prod_Nov,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-11-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-11-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-11-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-11-2021

In [267]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Nov_2021.rename(columns={'Cant_Prod_Nov':'Cant_Prod', 
                            'Precio_Prod_Nov':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Nov_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,30-11-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,30-11-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,30-11-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,30-11-2021

In [268]:
# Separar columnas de Diciemre
dfventas_Dic_2021 = dfventas_2021.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Dic_2021
# crea la lista de fechas especificadas
fecha = "31-12-2021"
lista_fechas_diciembre_2021 = [fecha] * len(dfventas_Dic_2021)
# agrega la nueva columna al DataFrame
dfventas_Dic_2021["fecha"] = lista_fechas_diciembre_2021
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Dic,Precio_Prod_Dic,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-12-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-12-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-12-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-12-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-12-2021

In [269]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Dic_2021.rename(columns={'Cant_Prod_Dic':'Cant_Prod', 
                            'Precio_Prod_Dic':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Dic_2021.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-12-2021
4,000008,Aceite caléndula y almendras Piel sana 100 ml,NaN,NaN,31-12-2021
5,000009,Aceite coco Maya gold 450 ml,2,8,31-12-2021
6,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-12-2021
7,000011,Aceite espliego y rosas Piel sana 100 ml,NaN,NaN,31-12-2021

In [270]:
len(dfventas_Dic_2021)

3876

In [271]:
# Concatenar dataframe
dfventas_2021 = pd.concat([dfventas_Ene_2021, dfventas_Feb_2021, dfventas_Mar_2021, dfventas_Abr_2021, dfventas_May_2021, dfventas_Jun_2021, dfventas_Jul_2021, dfventas_Ago_2021, dfventas_Set_2021, dfventas_Oct_2021, dfventas_Nov_2021, dfventas_Dic_2021], axis=0)
dfventas_2021.reset_index(inplace=True, drop=True)
dfventas_2021

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,31-01-2021
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,31-01-2021
2,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-01-2021
3,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,31-01-2021
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,31-01-2021
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16,3.04,31-12-2021
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8,3.0875,31-12-2021
46509,006162,Yogur de soja natural Sojade 400 g,12,2.066667,31-12-2021
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9,2.407143,31-12-2021
46511,006164,Yogur de soja quark griego Sojade 400 g,22,2.225,31-12-2021

In [272]:
# Convertir la columna de fecha al formato adecuado
dfventas_2021['fecha'] = pd.to_datetime(dfventas_2021['fecha'], format='%d-%m-%Y')

In [273]:
# probamos eliminado NAN
dfventas_sin_nan = dfventas_2021

In [274]:
dfventas_sin_nan = dfventas_sin_nan.dropna()
dfventas_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
9,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,2021-01-31
10,000019,Aceite oliva virgen extra Umbria oretana 500 m...,1,11.9,2021-01-31
11,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,2021-01-31
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16,3.04,2021-12-31
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8,3.0875,2021-12-31
46509,006162,Yogur de soja natural Sojade 400 g,12,2.066667,2021-12-31
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9,2.407143,2021-12-31
46511,006164,Yogur de soja quark griego Sojade 400 g,22,2.225,2021-12-31

In [275]:
# Probamos reemplazando NaN con cero
dfventas_con_cero = dfventas_2021

In [276]:
dfventas_con_cero = dfventas_con_cero.fillna(0)
dfventas_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,0.0,0.000000,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.0,12.500000,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,0.0,0.000000,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,0.0,0.000000,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.0,12.500000,2021-01-31
...,...,...,...,...,...
46507,006160,Yogur de soja con limón Sojade 400 g,16.0,3.040000,2021-12-31
46508,006161,Yogur de soja con plátano y maracuyá sin azúca...,8.0,3.087500,2021-12-31
46509,006162,Yogur de soja natural Sojade 400 g,12.0,2.066667,2021-12-31
46510,006163,Yogur de soja natural Sojade 4 x 100 g,9.0,2.407143,2021-12-31
46511,006164,Yogur de soja quark griego Sojade 400 g,22.0,2.225000,2021-12-31

### Ventas_2022

In [277]:
#Datasets de venta de productos al publico 2021
ventas_2022= pd.read_excel("Ventas_PVP_inflación_2022.xls")
ventas_2022

,Unnamed: 0,Total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,enero 2022,NaN,febrero 2022,NaN,marzo 2022,NaN,abril 2022,NaN,mayo 2022,...,septiembre 2022,NaN,octubre 2022,NaN,noviembre 2022,NaN,diciembre 2022,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,31448.363,3.757765,33712.823,3.779414,40735.883,3.761538,35024.322,3.89496,33788.774,...,29279.64,3.886839,29849.821,3.931161,30445.756,3.874141,31114.784,4.232161,371375.069,3.862021
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [278]:
# Visualizar columnas
ventas_2022.columns

Index(['Unnamed: 0', 'Total', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

In [279]:
# Renombrar columnas
ventas_2022.rename(columns={'Unnamed: 0':'Id_Prod', 
                            'Total':'Cant_Prod_Ene',
                            'Unnamed: 2':'Precio_Prod_Ene', 
                            'Unnamed: 3':'Cant_Prod_Feb',
                            'Unnamed: 4':'Precio_Prod_Feb', 
                            'Unnamed: 5':'Cant_Prod_Mar',
                            'Unnamed: 6':'Precio_Prod_Mar', 
                            'Unnamed: 7':'Cant_Prod_Abr',
                            'Unnamed: 8':'Precio_Prod_Abr', 
                            'Unnamed: 9':'Cant_Prod_May',
                            'Unnamed: 10':'Precio_Prod_May', 
                            'Unnamed: 11':'Cant_Prod_Jun',
                            'Unnamed: 12':'Precio_Prod_Jun', 
                            'Unnamed: 13':'Cant_Prod_Jul',
                            'Unnamed: 14':'Precio_Prod_Jul', 
                            'Unnamed: 15':'Cant_Prod_Ago',
                            'Unnamed: 16':'Precio_Prod_Ago', 
                            'Unnamed: 17':'Cant_Prod_Set',
                            'Unnamed: 18':'Precio_Prod_Set', 
                            'Unnamed: 19':'Cant_Prod_Oct', 
                            'Unnamed: 20':'Precio_Prod_Oct', 
                            'Unnamed: 21':'Cant_Prod_Nov', 
                            'Unnamed: 22':'Precio_Prod_Nov', 
                            'Unnamed: 23':'Cant_Prod_Dic', 
                            'Unnamed: 24':'Precio_Prod_Dic', 
                            'Unnamed: 25':'Cant_Total_Prod', 
                            'Unnamed: 26':'Precio_Total_Prod'
                             }, inplace=True)

In [280]:
ventas_2022

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
0,NaN,enero 2022,NaN,febrero 2022,NaN,marzo 2022,NaN,abril 2022,NaN,mayo 2022,...,septiembre 2022,NaN,octubre 2022,NaN,noviembre 2022,NaN,diciembre 2022,NaN,NaN,NaN
1,NaN,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,...,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio,Cantidad producto,Precio medio
2,Total,31448.363,3.757765,33712.823,3.779414,40735.883,3.761538,35024.322,3.89496,33788.774,...,29279.64,3.886839,29849.821,3.931161,30445.756,3.874141,31114.784,4.232161,371375.069,3.862021
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [281]:
# Eliminar 3 filas
ventas_2022_new = ventas_2022.drop([0, 1,2])
ventas_2022_new

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,NaN,NaN,2,8,2,8,1,8,21,8
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
5,[000018] Aceite oliva virgen extra Umbria...,1,18.5,7,18.5,7,18.5,9,18.5,5,...,7,18.5,6,18.5,7,18.5,7,18.5,64,18.5
6,[000020] Aceite oliva virgen extra Umbria...,1,32.75,7,32.75,8,32.75,5,32.75,2,...,7,32.75,4,32.75,4,32.75,NaN,NaN,51,32.75
7,[000021] Aceite oliva virgen extra Umbria...,2,30.5,7,30.5,14,30.5,6,30.5,2,...,7,30.5,5,30.5,4,30.5,NaN,NaN,60,30.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,[006511] Láminas lasagña de sémola Castag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2,3.35,2,3.35
3933,[006515] Yogur de avena natural Alpro 500 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3934,[006516] Yogur de coco natural Alpro 350 gr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3935,[006518] Yogur vegetal con arandanos Alpr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2.85,1,2.85
3936,[6499] Pularda Sanchonar aprox 3 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11.84,13.75,11.84,13.75

In [282]:
registro = ventas_2022_new.Id_Prod.loc[3875]
print(registro)

     [006425] Hummus De Cúrcuma Fresco Bio Vegetalia 220g.

In [283]:
registro = ventas_2022_new.Id_Prod.loc[3935]
print(registro)

     [006518] Yogur vegetal con arandanos Alpro 500 gr

In [284]:
registro = ventas_2022_new.Id_Prod.loc[3936]
print(registro)

     [6499] Pularda Sanchonar aprox 3 kg

In [285]:
# Proceso para separar dos columnas a partir de Id_Prod
ventas_2022_new["Id_Prod"]=ventas_2022_new["Id_Prod"].astype("category")
ventas_2022_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3934 entries, 3 to 3936
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id_Prod            3934 non-null   category
 1   Cant_Prod_Ene      2720 non-null   object
 2   Precio_Prod_Ene    2720 non-null   object
 3   Cant_Prod_Feb      2659 non-null   object
 4   Precio_Prod_Feb    2659 non-null   object
 5   Cant_Prod_Mar      2747 non-null   object
 6   Precio_Prod_Mar    2747 non-null   object
 7   Cant_Prod_Abr      2738 non-null   object
 8   Precio_Prod_Abr    2738 non-null   object
 9   Cant_Prod_May      2665 non-null   object
 10  Precio_Prod_May    2665 non-null   object
 11  Cant_Prod_Jun      2602 non-null   object
 12  Precio_Prod_Jun    2602 non-null   object
 13  Cant_Prod_Jul      2523 non-null   object
 14  Precio_Prod_Jul    2523 non-null   object
 15  Cant_Prod_Ago      2358 non-null   object
 16  Precio_Prod_Ago    2358 non-null   object
 17  Cant_Prod_Set      2604 non-null   object
 18  Precio_Prod_Set    2604 non-null   object
 19  Cant_Prod_Oct      2611 non-null   object
 20  Precio_Prod_Oct    2611 non-null   object
 21  Cant_Prod_Nov      2641 non-null   object
 22  Precio_Prod_Nov    2641 non-null   object
 23  Cant_Prod_Dic      2717 non-null   object
 24  Precio_Prod_Dic    2717 non-null   object
 25  Cant_Total_Prod    3934 non-null   object
 26  Precio_Total_Prod  3934 non-null   object
dtypes: category(1), object(26)
memory usage: 966.7+ KB

In [286]:
# Usamos la expresión regular para extraer el código y el nombre
patron = r'\[(.*?)\]\s*(.*)'
ventas_2022_new[['Id_Prod_2', 'Nom_Prod']] = ventas_2022_new['Id_Prod'].str.extract(patron)

In [287]:
ventas_2022_new.head(2)

,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,Cant_Prod_May,...,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod,Id_Prod_2,Nom_Prod
3,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,4,...,2,8,2,8,1,8,21,8,000009,Aceite coco Maya gold 450 ml
4,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,4.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15,000013,Aceite de girasol Virgen bio Franciscanos 1 L

In [288]:
# Obtén una lista con los nombres de las columnas 
nuevas_columnas = ['Id_Prod_2', 'Nom_Prod'] + list(ventas_2022_new.columns[:-2])

# Reorganiza el DataFrame 
ventas_2022_new = ventas_2022_new.reindex(columns=nuevas_columnas)
ventas_2022_new.head(3)

,Id_Prod_2,Nom_Prod,Id_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000009,Aceite coco Maya gold 450 ml,[000009] Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,...,NaN,NaN,2,8,2,8,1,8,21,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,[000013] Aceite de girasol Virgen bio Fra...,NaN,NaN,2,4.15,3,4.15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,[000018] Aceite oliva virgen extra Umbria...,1,18.5,7,18.5,7,18.5,9,...,7,18.5,6,18.5,7,18.5,7,18.5,64,18.5

In [289]:
# Eliminar columna Id_Prod
ventas_2022_new=ventas_2022_new.drop("Id_Prod",axis=1)

In [290]:
ventas_2022_new.head(2)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,Cant_Prod_Feb,Precio_Prod_Feb,Cant_Prod_Mar,Precio_Prod_Mar,Cant_Prod_Abr,Precio_Prod_Abr,...,Cant_Prod_Set,Precio_Prod_Set,Cant_Prod_Oct,Precio_Prod_Oct,Cant_Prod_Nov,Precio_Prod_Nov,Cant_Prod_Dic,Precio_Prod_Dic,Cant_Total_Prod,Precio_Total_Prod
3,000009,Aceite coco Maya gold 450 ml,4,8,2,8,2,8,1,8,...,NaN,NaN,2,8,2,8,1,8,21,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2,4.15,3,4.15,1,4.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,4.15

In [291]:
# Reasignar nombre del dataframe
dfventas_2022=ventas_2022_new

In [292]:
# Separar columnas de Enero
dfventas_Ene_2022 = dfventas_2022.drop(["Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ene_2022

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene
3,000009,Aceite coco Maya gold 450 ml,4,8
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5
...,...,...,...,...
3932,006511,Láminas lasagña de sémola Castagno 500 g,NaN,NaN
3933,006515,Yogur de avena natural Alpro 500 gr,NaN,NaN
3934,006516,Yogur de coco natural Alpro 350 gr,NaN,NaN
3935,006518,Yogur vegetal con arandanos Alpro 500 gr,NaN,NaN
3936,6499,Pularda Sanchonar aprox 3 kg,NaN,NaN

In [293]:
# En los ultimos registros esta faltando la unidad de medida, verifique con los ultimos registros del primer dataframe.
registro2 = dfventas_Ene_2022.Nom_Prod.loc[3869]
print(registro2)

Pate De Finas Hierbas Pequeño Bio Vegetalia 110g.

In [294]:
# crea la lista de fechas especificadas
fecha = "31-01-2022"
lista_fechas_Enero_2022 = [fecha] * len(dfventas_Ene_2022)

In [295]:
# agrega la nueva columna al DataFrame
dfventas_Ene_2022["fecha"] = lista_fechas_Enero_2022
dfventas_Ene_2022

,Id_Prod_2,Nom_Prod,Cant_Prod_Ene,Precio_Prod_Ene,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022
...,...,...,...,...,...
3932,006511,Láminas lasagña de sémola Castagno 500 g,NaN,NaN,31-01-2022
3933,006515,Yogur de avena natural Alpro 500 gr,NaN,NaN,31-01-2022
3934,006516,Yogur de coco natural Alpro 350 gr,NaN,NaN,31-01-2022
3935,006518,Yogur vegetal con arandanos Alpro 500 gr,NaN,NaN,31-01-2022
3936,6499,Pularda Sanchonar aprox 3 kg,NaN,NaN,31-01-2022

In [296]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ene_2022.rename(columns={'Cant_Prod_Ene':'Cant_Prod', 
                            'Precio_Prod_Ene':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ene_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022

In [297]:
# Separar columnas de Febrero
dfventas_Feb_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Feb_2022
# crea la lista de fechas especificadas
fecha = "28-02-2022"
lista_fechas_febreo_2022 = [fecha] * len(dfventas_Feb_2022)
# agrega la nueva columna al DataFrame
dfventas_Feb_2022["fecha"] = lista_fechas_febreo_2022
dfventas_Feb_2022.head(3)

,Id_Prod_2,Nom_Prod,Cant_Prod_Feb,Precio_Prod_Feb,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,28-02-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,2,4.15,28-02-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,28-02-2022

In [298]:
# Renombrar columnas enero  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Feb_2022.rename(columns={'Cant_Prod_Feb':'Cant_Prod', 
                            'Precio_Prod_Feb':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Feb_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,28-02-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,2,4.15,28-02-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,28-02-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,28-02-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,28-02-2022

In [299]:
# Separar columnas de Marzo
dfventas_Mar_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Mar_2022
# crea la lista de fechas especificadas
fecha = "31-03-2022"
lista_fechas_marzo_2022 = [fecha] * len(dfventas_Mar_2022)
# agrega la nueva columna al DataFrame
dfventas_Mar_2022["fecha"] = lista_fechas_marzo_2022
dfventas_Mar_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Mar,Precio_Prod_Mar,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-03-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,3,4.15,31-03-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-03-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,8,32.75,31-03-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,14,30.5,31-03-2022

In [300]:
# Renombrar columnas marzo  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Mar_2022.rename(columns={'Cant_Prod_Mar':'Cant_Prod', 
                            'Precio_Prod_Mar':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Mar_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-03-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,3,4.15,31-03-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-03-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,8,32.75,31-03-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,14,30.5,31-03-2022

In [301]:
# Separar columnas de Abril
dfventas_Abr_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Abr_2022
# crea la lista de fechas especificadas
fecha = "30-04-2022"
lista_fechas_abril_2022 = [fecha] * len(dfventas_Abr_2022)
# agrega la nueva columna al DataFrame
dfventas_Abr_2022["fecha"] = lista_fechas_abril_2022
dfventas_Abr_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Abr,Precio_Prod_Abr,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,30-04-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,1,4.15,30-04-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,30-04-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,30-04-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,6,30.5,30-04-2022

In [302]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Abr_2022.rename(columns={'Cant_Prod_Abr':'Cant_Prod', 
                            'Precio_Prod_Abr':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Abr_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,30-04-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,1,4.15,30-04-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,30-04-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,30-04-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,6,30.5,30-04-2022

In [303]:
# Separar columnas de Mayo
dfventas_May_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_May_2022
# crea la lista de fechas especificadas
fecha = "31-05-2022"
lista_fechas_mayo_2022 = [fecha] * len(dfventas_May_2022)
# agrega la nueva columna al DataFrame
dfventas_May_2022["fecha"] = lista_fechas_mayo_2022
dfventas_May_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_May,Precio_Prod_May,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-05-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-05-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,5,18.5,31-05-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,2,32.75,31-05-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-05-2022

In [304]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_May_2022.rename(columns={'Cant_Prod_May':'Cant_Prod', 
                            'Precio_Prod_May':'Precio_Prod',                            
                             }, inplace=True)
dfventas_May_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,4,8,31-05-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-05-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,5,18.5,31-05-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,2,32.75,31-05-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-05-2022

In [305]:
# Separar columnas de Jun
dfventas_Jun_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jun_2022
# crea la lista de fechas especificadas
fecha = "30-06-2022"
lista_fechas_junio_2022 = [fecha] * len(dfventas_Jun_2022)
# agrega la nueva columna al DataFrame
dfventas_Jun_2022["fecha"] = lista_fechas_junio_2022
dfventas_Jun_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jun,Precio_Prod_Jun,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-06-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,30-06-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,3,32.75,30-06-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,3,30.5,30-06-2022

In [306]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jun_2022.rename(columns={'Cant_Prod_Jun':'Cant_Prod', 
                            'Precio_Prod_Jun':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jun_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-06-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-06-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,30-06-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,3,32.75,30-06-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,3,30.5,30-06-2022

In [307]:
# Separar columnas de Jul
dfventas_Jul_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Jul_2022
# crea la lista de fechas especificadas
fecha = "31-07-2022"
lista_fechas_julio_2022 = [fecha] * len(dfventas_Jul_2022)
# agrega la nueva columna al DataFrame
dfventas_Jul_2022["fecha"] = lista_fechas_julio_2022
dfventas_Jul_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Jul,Precio_Prod_Jul,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-07-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-07-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,31-07-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,6,32.75,31-07-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-07-2022

In [308]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Jul_2022.rename(columns={'Cant_Prod_Jul':'Cant_Prod', 
                            'Precio_Prod_Jul':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Jul_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-07-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-07-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,2,18.5,31-07-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,6,32.75,31-07-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-07-2022

In [309]:
# Separar columnas de Agosto
dfventas_Ago_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Ago_2022
# crea la lista de fechas especificadas
fecha = "31-08-2022"
lista_fechas_agosto_2022 = [fecha] * len(dfventas_Ago_2022)
# agrega la nueva columna al DataFrame
dfventas_Ago_2022["fecha"] = lista_fechas_agosto_2022
dfventas_Ago_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Ago,Precio_Prod_Ago,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-08-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,4,18.5,31-08-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-08-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-08-2022

In [310]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Ago_2022.rename(columns={'Cant_Prod_Ago':'Cant_Prod', 
                            'Precio_Prod_Ago':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Ago_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,31-08-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-08-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,4,18.5,31-08-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-08-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-08-2022

In [311]:
# Separar columnas de Setiembre
dfventas_Set_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Set_2022
# crea la lista de fechas especificadas
fecha = "30-09-2022"
lista_fechas_setiembre_2022 = [fecha] * len(dfventas_Set_2022)
# agrega la nueva columna al DataFrame
dfventas_Set_2022["fecha"] = lista_fechas_setiembre_2022
dfventas_Set_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Set,Precio_Prod_Set,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-09-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-09-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-09-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,30-09-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,30-09-2022

In [312]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Set_2022.rename(columns={'Cant_Prod_Set':'Cant_Prod', 
                            'Precio_Prod_Set':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Set_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,NaN,NaN,30-09-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-09-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-09-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,7,32.75,30-09-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,7,30.5,30-09-2022

In [313]:
# Separar columnas de Octubre
dfventas_Oct_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Oct_2022
# crea la lista de fechas especificadas
fecha = "31-10-2022"
lista_fechas_octubre_2022 = [fecha] * len(dfventas_Oct_2022)
# agrega la nueva columna al DataFrame
dfventas_Oct_2022["fecha"] = lista_fechas_octubre_2022
dfventas_Oct_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Oct,Precio_Prod_Oct,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-10-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,6,18.5,31-10-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-10-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-10-2022

In [314]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Oct_2022.rename(columns={'Cant_Prod_Oct':'Cant_Prod', 
                            'Precio_Prod_Oct':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Oct_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,31-10-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-10-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,6,18.5,31-10-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,31-10-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,5,30.5,31-10-2022

In [315]:
# Separar columnas de Noviembre
dfventas_Nov_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Dic","Precio_Prod_Dic","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Nov_2022
# crea la lista de fechas especificadas
fecha = "30-11-2022"
lista_fechas_noviembre_2022 = [fecha] * len(dfventas_Nov_2022)
# agrega la nueva columna al DataFrame
dfventas_Nov_2022["fecha"] = lista_fechas_noviembre_2022
dfventas_Nov_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Nov,Precio_Prod_Nov,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-11-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-11-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,30-11-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,4,30.5,30-11-2022

In [316]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Nov_2022.rename(columns={'Cant_Prod_Nov':'Cant_Prod', 
                            'Precio_Prod_Nov':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Nov_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,2,8,30-11-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,30-11-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,30-11-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,4,32.75,30-11-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,4,30.5,30-11-2022

In [317]:
# Separar columnas de Diciemre
dfventas_Dic_2022 = dfventas_2022.drop(["Cant_Prod_Ene","Precio_Prod_Ene","Cant_Prod_Feb","Precio_Prod_Feb","Cant_Prod_Mar","Precio_Prod_Mar","Cant_Prod_Abr","Precio_Prod_Abr","Cant_Prod_May","Precio_Prod_May","Cant_Prod_Jun","Precio_Prod_Jun","Cant_Prod_Jul","Precio_Prod_Jul","Cant_Prod_Ago","Precio_Prod_Ago","Cant_Prod_Set","Precio_Prod_Set","Cant_Prod_Oct","Precio_Prod_Oct","Cant_Prod_Nov","Precio_Prod_Nov","Cant_Total_Prod","Precio_Total_Prod"], axis=1)
dfventas_Dic_2022
# crea la lista de fechas especificadas
fecha = "31-12-2022"
lista_fechas_diciembre_2022 = [fecha] * len(dfventas_Dic_2022)
# agrega la nueva columna al DataFrame
dfventas_Dic_2022["fecha"] = lista_fechas_diciembre_2022
dfventas_Dic_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod_Dic,Precio_Prod_Dic,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-12-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-12-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-12-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,NaN,NaN,31-12-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,NaN,NaN,31-12-2022

In [318]:
# Renombrar columnas ___  OJO SI NO FUNCIONA ELIMINAR ESTA COLUMNA
dfventas_Dic_2022.rename(columns={'Cant_Prod_Dic':'Cant_Prod', 
                            'Precio_Prod_Dic':'Precio_Prod',                            
                             }, inplace=True)
dfventas_Dic_2022.head(5)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
3,000009,Aceite coco Maya gold 450 ml,1,8,31-12-2022
4,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-12-2022
5,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,7,18.5,31-12-2022
6,000020,Aceite oliva virgen extra Umbria oretana 5 L,NaN,NaN,31-12-2022
7,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,NaN,NaN,31-12-2022

In [319]:
len(dfventas_Dic_2022)

3934

In [320]:
# Concatenar dataframe
dfventas_2022 = pd.concat([dfventas_Ene_2022, dfventas_Feb_2022, dfventas_Mar_2022, dfventas_Abr_2022, dfventas_May_2022, dfventas_Jun_2022, dfventas_Jul_2022, dfventas_Ago_2022, dfventas_Set_2022, dfventas_Oct_2022, dfventas_Nov_2022, dfventas_Dic_2022], axis=0)
dfventas_2022.reset_index(inplace=True, drop=True)
dfventas_2022

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,31-01-2022
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,31-01-2022
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,31-01-2022
3,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,31-01-2022
4,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,31-01-2022
...,...,...,...,...,...
47203,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,31-12-2022
47204,006515,Yogur de avena natural Alpro 500 gr,1,2.85,31-12-2022
47205,006516,Yogur de coco natural Alpro 350 gr,1,2.85,31-12-2022
47206,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,31-12-2022
47207,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,31-12-2022

In [321]:
# Convertir la columna de fecha al formato adecuado
dfventas_2022['fecha'] = pd.to_datetime(dfventas_2022['fecha'], format='%d-%m-%Y')

In [322]:
dfventas_2022.head(3)

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,2022-01-31
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,NaN,NaN,2022-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,2022-01-31

In [323]:
# probamos eliminado NAN
dfventas_2022_sin_nan = dfventas_2022

In [324]:
dfventas_2022_sin_nan= dfventas_2022_sin_nan.dropna()
dfventas_2022_sin_nan.reset_index(inplace=True, drop=True)
dfventas_2022_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4,8,2022-01-31
1,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1,18.5,2022-01-31
2,000020,Aceite oliva virgen extra Umbria oretana 5 L,1,32.75,2022-01-31
3,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2,30.5,2022-01-31
4,000023,Aceite rosa mosqueta y damáscena Piel sana 50 ml,2,26.2,2022-01-31
...,...,...,...,...,...
31580,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
31581,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
31582,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
31583,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
31584,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [325]:
# probamos reemplazando NaN con cero
dfventas_2022_con_cero = dfventas_2022

In [326]:
dfventas_2022_con_cero = dfventas_2022_con_cero.fillna(0)
dfventas_2022_con_cero.reset_index(inplace=True, drop=True)
dfventas_2022_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000009,Aceite coco Maya gold 450 ml,4.00,8.00,2022-01-31
1,000013,Aceite de girasol Virgen bio Franciscanos 1 L,0.00,0.00,2022-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,1.00,18.50,2022-01-31
3,000020,Aceite oliva virgen extra Umbria oretana 5 L,1.00,32.75,2022-01-31
4,000021,Aceite oliva virgen extra Umbria oretana 5 L PET,2.00,30.50,2022-01-31
...,...,...,...,...,...
47203,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12-31
47204,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12-31
47205,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12-31
47206,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12-31
47207,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

## Proceso para concatenar dfventas_2021 y dfventas_2022

In [327]:
# Concatenar dataframe
dfventas_2021_2022 = pd.concat([dfventas_2021, dfventas_2022], axis=0)
dfventas_2021_2022.reset_index(inplace=True, drop=True)
dfventas_2021_2022

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,NaN,NaN,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
93716,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
93717,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
93719,6499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [328]:
# OBSERVACION: Se agrega este preoceso porque se identifico Id_Prod_2 con dígitos menores a 6 dígitos.
dfventas_2021_2022.loc[dfventas_2021_2022['Id_Prod_2'].astype(str).str.len() < 6, 'Id_Prod_2'] = dfventas_2021_2022.loc[dfventas_2021_2022['Id_Prod_2'].astype(str).str.len() < 6, 'Id_Prod_2'].astype(str).str.zfill(6)

In [329]:
dfventas_2021_2022

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,NaN,NaN,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,NaN,NaN,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,NaN,NaN,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
93716,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
93717,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [330]:
# OBSERVACIÓN:
# Se verifica que el registro 93719 presenta el Id_Pord_2 con la longitud de 6 dígitos.

In [331]:
# Probamos eliminado NAN, para obtener un nuevo dataframe dfventas_2021_2022
dfventas_2021_2022_sin_nan = dfventas_2021_2022

In [332]:
dfventas_2021_2022_sin_nan = dfventas_2021_2022_sin_nan .dropna()
dfventas_2021_2022_sin_nan.reset_index(inplace=True, drop=True)
dfventas_2021_2022_sin_nan

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000008,Aceite caléndula y almendras Piel sana 100 ml,2,12.5,2021-01-31
1,000011,Aceite espliego y rosas Piel sana 100 ml,4,12.5,2021-01-31
2,000018,Aceite oliva virgen extra Umbria Oretana 2.5 L,9,18.5,2021-01-31
3,000019,Aceite oliva virgen extra Umbria oretana 500 m...,1,11.9,2021-01-31
4,000020,Aceite oliva virgen extra Umbria oretana 5 L,5,32.75,2021-01-31
...,...,...,...,...,...
60260,006511,Láminas lasagña de sémola Castagno 500 g,2,3.35,2022-12-31
60261,006515,Yogur de avena natural Alpro 500 gr,1,2.85,2022-12-31
60262,006516,Yogur de coco natural Alpro 350 gr,1,2.85,2022-12-31
60263,006518,Yogur vegetal con arandanos Alpro 500 gr,1,2.85,2022-12-31
60264,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [333]:
# Probamos reemplazando NaN con cero un nuevo dataframe dfventas_2021_2022
dfventas_2021_2022_con_cero = dfventas_2021_2022

In [334]:
dfventas_2021_2022_con_cero = dfventas_2021_2022_con_cero.fillna(0)
dfventas_2021_2022_con_cero.reset_index(inplace=True, drop=True)
dfventas_2021_2022_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01-31
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01-31
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01-31
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01-31
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01-31
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12-31
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12-31
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12-31
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12-31
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31

In [335]:
# Tenemos los siguientes dataframe limpios, los dos últimos estan imputados (eliminando NaN y reemplazando con cero los datos faltantes)
# dfventas_2021_2022
# dfventas_2021_2022_sin_nan   
# dfventas_2021_2022_con_cero   # IMPUTACION ELEGIDA

### Consultas para apoyar el analisis de compras

In [336]:
# información general de dfventas_2021_2022_con_cero
dfventas_2021_2022_con_cero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93720 entries, 0 to 93719
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id_Prod_2    93720 non-null  object
 1   Nom_Prod     93720 non-null  object
 2   Cant_Prod    93720 non-null  float64
 3   Precio_Prod  93720 non-null  float64
 4   fecha        93720 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 3.6+ MB

In [337]:
cc=dfventas_2021_2022_con_cero[dfventas_2021_2022_con_cero.Id_Prod_2=="001637"]  # Se DEBEagregar al Id_Prod_2 el "00" en los datos de los archivos de compras.
cc

      Id_Prod_2          Nom_Prod  Cant_Prod  Precio_Prod      fecha
904      001637  Envase Veer 33cl       41.0         0.15 2021-01-31
4780     001637  Envase Veer 33cl       65.0         0.15 2021-02-28
8656     001637  Envase Veer 33cl       52.0         0.15 2021-03-31
12532    001637  Envase Veer 33cl        3.0         0.15 2021-04-30
16408    001637  Envase Veer 33cl       83.0         0.15 2021-05-31
20284    001637  Envase Veer 33cl       20.0         0.15 2021-06-30
24160    001637  Envase Veer 33cl      -14.0         0.15 2021-07-31
28036    001637  Envase Veer 33cl      -20.0         0.15 2021-08-31
31912    001637  Envase Veer 33cl      -24.0         0.15 2021-09-30
35788    001637  Envase Veer 33cl        5.0         0.15 2021-10-31
39664    001637  Envase Veer 33cl        7.0         0.15 2021-11-30
43540    001637  Envase Veer 33cl       24.0         0.15 2021-12-31
47319    001637  Envase Veer 33cl       -5.0         0.15 2022-01-31
51253    001637  Envase Veer 33cl       31.0         0.15 2022-02-28
55187    001637  Envase Veer 33cl       12.0         0.15 2022-03-31
59121    001637  Envase Veer 33cl       -3.0         0.15 2022-04-30
63055    001637  Envase Veer 33cl        5.0         0.15 2022-05-31
66989    001637  Envase Veer 33cl      -13.0         0.15 2022-06-30
70923    001637  Envase Veer 33cl       -5.0         0.15 2022-07-31
74857    001637  Envase Veer 33cl       -8.0         0.15 2022-08-31
78791    001637  Envase Veer 33cl        8.0         0.15 2022-09-30
82725    001637  Envase Veer 33cl       31.0         0.15 2022-10-31
86659    001637  Envase Veer 33cl       -4.0         0.15 2022-11-30
90593    001637  Envase Veer 33cl       14.0         0.15 2022-12-31

In [338]:
len(cc)

24

In [339]:
# OBSERVACION:
# - El producto "Envase Veer 33cl" es adquirido todos los meses durante los dos años (2021 y 2022)
# - Se observa que en Id_Prod_2 se presneta el cpodigo con 6 dígitos, situación que NO sucede en el archivo de compras,
#   se recomienda agregar 00 a ó la cantidad de dígitos cero que sea necesario para normalizar la variable.
# - Aparentemente se vende al mismo precio que se COMPRA, aún si sacamos un promedio de costo/precio del producto durante los 24 meses.

In [340]:
# 2do producto para analizar
cc=dfventas_2021_2022_con_cero[dfventas_2021_2022_con_cero.Id_Prod_2=="000597"] 
cc

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha
326,000597,Fuet extra Biobardales 200 gr,11.0,3.90,2021-01-31
4202,000597,Fuet extra Biobardales 200 gr,17.0,3.90,2021-02-28
8078,000597,Fuet extra Biobardales 200 gr,16.0,3.90,2021-03-31
11954,000597,Fuet extra Biobardales 200 gr,23.0,3.90,2021-04-30
15830,000597,Fuet extra Biobardales 200 gr,15.0,3.90,2021-05-31
19706,000597,Fuet extra Biobardales 200 gr,17.0,3.90,2021-06-30
23582,000597,Fuet extra Biobardales 200 gr,11.0,3.90,2021-07-31
27458,000597,Fuet extra Biobardales 200 gr,10.0,3.90,2021-08-31
31334,000597,Fuet extra Biobardales 200 gr,8.0,3.90,2021-09-30
35210,000597,Fuet extra Biobardales 200 gr,17.0,3.90,2021-10-31
39086,000597,Fuet extra Biobardales 200 gr,3.0,3.90,2021-11-30
42962,000597,Fuet extra Biobardales 200 gr,12.0,3.90,2021-12-31
46789,000597,Fuet extra Biobardales 200 gr,14.0,3.90,2022-01-31
50723,000597,Fuet extra Biobardales 200 gr,17.0,3.90,2022-02-28
54657,000597,Fuet extra Biobardales 200 gr,14.0,3.90,2022-03-31
58591,000597,Fuet extra Biobardales 200 gr,10.0,3.93,2022-04-30
62525,000597,Fuet extra Biobardales 200 gr,16.0,4.05,2022-05-31
66459,000597,Fuet extra Biobardales 200 gr,8.0,4.05,2022-06-30
70393,000597,Fuet extra Biobardales 200 gr,12.0,4.05,2022-07-31
74327,000597,Fuet extra Biobardales 200 gr,8.0,4.05,2022-08-31
78261,000597,Fuet extra Biobardales 200 gr,7.0,4.05,2022-09-30
82195,000597,Fuet extra Biobardales 200 gr,8.0,4.05,2022-10-31
86129,000597,Fuet extra Biobardales 200 gr,7.0,4.05,2022-11-30
90063,000597,Fuet extra Biobardales 200 gr,17.0,4.05,2022-12-31

In [341]:
len(cc)

24

In [342]:
# OBSERVACION:
# - El producto es adquirido todos los meses durante los dos años (2021 y 2022), pero el precio de compra y venta varia.
# - Sacar el promedio sí nos dará resultados favorables para analisis de inflación.

In [343]:
# Vamos a proceder a limitar la fecha con mes y año

# Primero ordenamos por fecha.
dfventas_2021_2022_con_cero.sort_values(by='fecha')  

# se define el formato fecha por año y mes porque se requiere promedios mensuales
dfventas_2021_2022_con_cero['Fecha_Venta'] = pd.PeriodIndex(dfventas_2021_2022_con_cero['fecha'], freq='M')
dfventas_2021_2022_con_cero

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,fecha,Fecha_Venta
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01-31,2021-01
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01-31,2021-01
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01-31,2021-01
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01-31,2021-01
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01-31,2021-01
...,...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12-31,2022-12
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12-31,2022-12
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12-31,2022-12
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12-31,2022-12
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12-31,2022-12

In [344]:
dfventas_2021_2022_con_cero_V2 = dfventas_2021_2022_con_cero.drop('fecha',axis=1)
dfventas_2021_2022_con_cero_V2

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,Fecha_Venta
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01
...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12

In [345]:
# Convertir 'Fecha_Compra' a tipo datetime y extraer año y mes

dfventas_2021_2022_con_cero_V2['Año_Venta'] = dfventas_2021_2022_con_cero_V2['Fecha_Venta'].dt.year
dfventas_2021_2022_con_cero_V2['Mes_Venta'] = dfventas_2021_2022_con_cero_V2['Fecha_Venta'].dt.month
# Mostrar resultado
dfventas_2021_2022_con_cero_V2

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,Fecha_Venta,Año_Venta,Mes_Venta
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01,2021,1
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01,2021,1
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01,2021,1
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01,2021,1
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01,2021,1
...,...,...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12,2022,12
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12,2022,12
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12,2022,12
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12,2022,12
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12,2022,12

In [346]:
#dfventas_2021_2022_con_cero_V2 = dfventas_2021_2022_con_cero_V2.drop('Fecha_Venta',axis=1)
#dfventas_2021_2022_con_cero_V2

In [347]:
# Renombramos el df ventas a dfosa_ventas
dfosa_ventas=dfventas_2021_2022_con_cero_V2
dfosa_ventas

,Id_Prod_2,Nom_Prod,Cant_Prod,Precio_Prod,Fecha_Venta,Año_Venta,Mes_Venta
0,000007,Aceite árnica y romero Piel sana 100 ml,0.00,0.00,2021-01,2021,1
1,000008,Aceite caléndula y almendras Piel sana 100 ml,2.00,12.50,2021-01,2021,1
2,000009,Aceite coco Maya gold 450 ml,0.00,0.00,2021-01,2021,1
3,000010,Aceite desmaquillador Piel sana 100 ml,0.00,0.00,2021-01,2021,1
4,000011,Aceite espliego y rosas Piel sana 100 ml,4.00,12.50,2021-01,2021,1
...,...,...,...,...,...,...,...
93715,006511,Láminas lasagña de sémola Castagno 500 g,2.00,3.35,2022-12,2022,12
93716,006515,Yogur de avena natural Alpro 500 gr,1.00,2.85,2022-12,2022,12
93717,006516,Yogur de coco natural Alpro 350 gr,1.00,2.85,2022-12,2022,12
93718,006518,Yogur vegetal con arandanos Alpro 500 gr,1.00,2.85,2022-12,2022,12
93719,006499,Pularda Sanchonar aprox 3 kg,11.84,13.75,2022-12,2022,12

## EDA COMPRAS

In [348]:
# Datasets de compra de productos a proveedores 2021-2022
# precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")  # Archivo 1
# precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls") # Obs: columna fecha con mes dic duplicada con el dataframe precio_2022 # Archivo 2
# precio_2021= pd.read_excel("Price_history_2021.xls")         # Archivo 3
# precio_2022= pd.read_excel("Price_history_122022.xls")       # Archivo 4

In [349]:
# Explorando archivo 1 de compras
precio_enejun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33361 entries, 0 to 33360
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             21005 non-null  object
 1   Producto/Nombre                                         21005 non-null  object
 2   Coste                                                   21005 non-null  float64
 3   Fecha                                                   21005 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  21005 non-null  object
 5   Producto/Referencia interna                             21005 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   33361 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         21005 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 2.0+ MB

In [350]:
precio_enejun

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_78926_abded360,Envase Veer 33cl,0.15,2022-06-29 21:10:50,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
1,__export__.product_price_history_78925_30713b35,Envase Veer 33cl,0.15,2022-06-29 20:25:26,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
2,__export__.product_price_history_78916_73aa1b21,Fuet extra Biobardales 200 gr,2.95,2022-06-29 19:22:59,Eco,597.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
3,__export__.product_price_history_78919_197ec6c0,"Preparado para legumbres chorizo, morcilla, pa...",2.90,2022-06-29 19:22:59,Eco,1252.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
4,__export__.product_price_history_78918_c43ac4cb,Lomo extra lonchas Biobardales 100 gr,3.45,2022-06-29 19:22:59,Eco,877.0,(BIOBARDALES) COMERCIAL BELDREA S.L.,Resto Producto Fresco / Charcutería animal / E...
...,...,...,...,...,...,...,...,...
33356,__export__.product_price_history_57476_a123a605,Envase Veer 33cl,0.15,2022-01-02 13:14:07,Eco,1637.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
33357,__export__.product_price_history_57475_01d2b4c1,Envase Veer 75cl,0.50,2022-01-02 12:11:49,Eco,1638.0,(VEER) MISSON S.COOP.CYL.,"Seco Envasado / Vinos, cervezas, sidras / Cerv..."
33358,__export__.product_price_history_57473_9223a116,Hogaza de trigo 3 Letras Pan 1 kg,2.89,2022-01-02 10:30:22,Convencional,5074.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
33359,__export__.product_price_history_57474_6d53100b,Hogaza integral 3 Letras Pan 1 kg,2.74,2022-01-02 10:30:22,Eco,5075.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
33360,__export__.product_price_history_57472_e1e9d62e,Chapata 3 Letras Pan 350 gr,1.44,2022-01-02 10:30:22,Eco,5072.0,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...

In [351]:
# Explorando archivo 2 de compras
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 1.5+ MB

In [352]:
precio_juldic

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_95321_35282e65,Barrita de sésamo bio Ideas 20 gr,0.26,2022-12-14 12:37:50,Eco,135.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Desayunos y merienda / Tortita...
1,__export__.product_price_history_95315_6718a328,Crema de cacahuete bio Ethiquable 350 gr,3.63,2022-12-14 12:37:50,Eco,467.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Cremas u...
2,__export__.product_price_history_95314_e5481612,Caramelos cereza y jengibre bio Ideas 100 g,1.66,2022-12-14 12:37:50,Eco,5196.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
3,__export__.product_price_history_95313_1e7ac49b,Caramelos miel y anís bio Ideas 100 gr,1.57,2022-12-14 12:37:50,Eco,3443.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
4,__export__.product_price_history_95312_1fbab516,Refresco de cola Frixen 33 cl,1.30,2022-12-14 12:37:50,Eco,1309.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Aguas y refrescos / Refrescos
...,...,...,...,...,...,...,...,...
24778,__export__.product_price_history_78928_ebc91b42,Melocoton amarillo,2.33,2022-06-30 08:16:35,Eco,938.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de hueso
24779,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
24780,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
24781,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
24782,__export__.product_price_history_78927_9cdb8c96,Manzana Choupette,1.87,2022-06-30 08:16:35,Eco,4490.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita

In [353]:
# Explorando archivo 3 de compras
precio_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57558 entries, 0 to 57557
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             37023 non-null  object
 1   Producto/Nombre                                         37023 non-null  object
 2   Coste                                                   37023 non-null  float64
 3   Fecha                                                   37023 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  37023 non-null  object
 5   Producto/Referencia interna                             37023 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   57558 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         37023 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 3.5+ MB

In [354]:
precio_2021

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_57358_1e54992d,Manzana royal gala,1.53,2021-12-30 18:51:57,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...,...
57553,__export__.product_price_history_17321_030fc96e,Pan levain La miguiña 1 kg,3.30,2021-01-02 08:33:16,Convencional,2602.0,(LA MIGUIÑA) LA MIGUIÑA S.L.,Resto Producto Fresco / Panadería y bollería s...
57554,__export__.product_price_history_17319_e9e33a8c,Chapata La miguiña 1 Kg,2.80,2021-01-02 08:33:16,Convencional,2600.0,(LA MIGUIÑA) LA MIGUIÑA S.L.,Resto Producto Fresco / Panadería y bollería s...
57555,__export__.product_price_history_17317_607ad568,Copos 5 cereales bio El Granero Integral 500 gr,1.37,2021-01-01 12:23:33,Eco,3733.0,(BIOGRAN) BIOGRAN S.L.,Seco Envasado / Desayunos y merienda / Cereales
57556,__export__.product_price_history_17316_a7765be4,Copos amaranto bio El Granero Integral 250 gr,2.21,2021-01-01 12:22:37,Eco,3732.0,(BIOGRAN) BIOGRAN S.L.,Seco Envasado / Cereales y semillas / Cereales
57557,__export__.product_price_history_17315_175465d1,Gofio maíz bio La Piña 500 gr,1.81,2021-01-01 12:18:55,Eco,6129.0,(BIOGRAN) BIOGRAN S.L.,"Seco Envasado / Panes, harinas / Harinas"

In [355]:
# Explorando archivo 4 de compras
precio_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             2809 non-null   object
 1   Producto/Nombre                                         2809 non-null   object
 2   Coste                                                   2809 non-null   float64
 3   Fecha                                                   2809 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  2809 non-null   object
 5   Producto/Referencia interna                             2809 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   4254 non-null   object
 7   Producto/Categoría de producto/Nombre a mostrar         2809 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 266.0+ KB

In [356]:
precio_2022.head(3000)

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_96984_4bf1bf39,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-12-30 21:03:38,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
2,__export__.product_price_history_96985_0c0a24a8,Queso eco peregrino producción limitada Casa G...,7.70,2022-12-30 21:03:38,Eco,1285.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,Resto Producto Fresco / Quesos / Curados y fer...
3,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
4,__export__.product_price_history_96965_065bfbca,Yogur griego con stracciatella pack 2 Casa gra...,1.45,2022-12-30 21:03:38,Eco,4443.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
2995,__export__.product_price_history_94978_d77c568f,Kéfir de vaca Cantero de letur 420 gr,2.08,2022-12-12 12:56:26,Eco,2646.0,(CANTERO DE LETUR) CANTERO DE LETUR S.A.,"Resto Producto Fresco / Leche, zumos, producto..."
2996,__export__.product_price_history_94977_43969991,Yogur de oveja desnatado Cantero de letur 420 g,2.39,2022-12-12 12:56:26,Eco,2644.0,(CANTERO DE LETUR) CANTERO DE LETUR S.A.,"Resto Producto Fresco / Leche, zumos, producto..."
2997,__export__.product_price_history_94976_5187a60d,Yogur de oveja Cantero de letur 420 g,2.39,2022-12-12 12:56:26,Eco,2643.0,(CANTERO DE LETUR) CANTERO DE LETUR S.A.,"Resto Producto Fresco / Leche, zumos, producto..."
2998,__export__.product_price_history_94975_ce4902cc,Yogur de cabra con mango y vainilla pack 2 ud ...,1.80,2022-12-12 12:56:26,Eco,2640.0,(CANTERO DE LETUR) CANTERO DE LETUR S.A.,"Resto Producto Fresco / Leche, zumos, producto..."
2999,__export__.product_price_history_94974_a674f3b2,Yogur de cabra con arándanos pack 2 ud Cantero...,1.80,2022-12-12 12:56:26,Eco,2639.0,(CANTERO DE LETUR) CANTERO DE LETUR S.A.,"Resto Producto Fresco / Leche, zumos, producto..."

In [357]:
# Analizando los 4 archivos de compras, se debe realizar lo siguiente:
# 1. Fusionar los 4 archivos en uno solo.
# 2. Con respecto al archivo duplicado del mes de Dic_2022, al ser fusinado se podrá eliminar los registros duplicados.
# 3. Eliminar "External ID"
# 4. Eliminar la hora de la columna fecha.
# 5. Agregarle digitos 0 (ceros) al "Producto/Referencia interna" hasta completar los 6 dígitos (normalización). 
#    Pero primero se debe eliminar los campos con valor NULO para poder aplicar las funciones necesarias.
# 6. Por el momento NO es recomendable subcategorizar los productos en base a "Producto/Categoría de producto/Nombre a mostrar"
#    porque existirán productos con nombres extraños que no podremos identificar para determinar su categoría.
#    En una segunda versión, quizás se pueda filtrar el primer nombre para poder establecer una subcategoría.
# 7. Renombrar los campos, priorizando o alineando los nombre asignados en los dfventas. Revisando los dfcompras se recomienda:
#    "Producto/Cuenta analítica para gastos/Nombre a mostrar" por TIPO_PRODUCTO
#    "Producto/Proveedores/Nombre a mostrar" por PROVEEDOR
#    "Producto/Categoría de producto/Nombre a mostrar" por CATEGORIA_PRODUCTO

In [358]:
# Explorando.
# El dataframe precio_2022 contiene registros de compras de fecha sólo del mes de DICIEMBRE
# renombrar a precio_julio_2022
precio_dic_2022=precio_2022
precio_dic_2022

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_96984_4bf1bf39,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-12-30 21:03:38,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
1,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
2,__export__.product_price_history_96985_0c0a24a8,Queso eco peregrino producción limitada Casa G...,7.70,2022-12-30 21:03:38,Eco,1285.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,Resto Producto Fresco / Quesos / Curados y fer...
3,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
4,__export__.product_price_history_96965_065bfbca,Yogur griego con stracciatella pack 2 Casa gra...,1.45,2022-12-30 21:03:38,Eco,4443.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
4249,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4250,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
4251,__export__.product_price_history_94161_7fe055d2,Kiwi verde nacional,3.13,2022-12-01 07:53:52,Eco,816.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de pepita
4252,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4253,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN

In [359]:
# Reportar la cantidad NaN en precio_dic_2022
precio_dic_2022_producto_con_nan = precio_dic_2022['Producto/Nombre'].isna().sum()
precio_dic_2022_producto_con_nan

1445

In [360]:
# Porcentaje de valores NaN
percent_nan = precio_dic_2022['Producto/Nombre'].isna().mean() * 100
percent_nan

33.9680300893277

In [361]:
# OBSERVACION:
# En el df precio_dic_2022 se tiene un 33.968% de valores nulos.
# Considerar este dato para comparar el porcentaje de NaN al fucionar los df donde aparecne duplicados el mes de dicimebre del 2022.

In [362]:
# Probar, que apsaría si eliminamos los registros que presnetan NaN en producto
precio_dic_2022_sin_nan=precio_dic_2022.dropna(subset=['Producto/Nombre'])
precio_dic_2022_sin_nan

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_96984_4bf1bf39,Yogur desnatado vainilla Casa grande xanceda 2...,1.45,2022-12-30 21:03:38,Eco,1559.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
2,__export__.product_price_history_96985_0c0a24a8,Queso eco peregrino producción limitada Casa G...,7.70,2022-12-30 21:03:38,Eco,1285.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,Resto Producto Fresco / Quesos / Curados y fer...
4,__export__.product_price_history_96965_065bfbca,Yogur griego con stracciatella pack 2 Casa gra...,1.45,2022-12-30 21:03:38,Eco,4443.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
5,__export__.product_price_history_96966_2aa62eac,Yogur griego eco eco desnat 0% con citricos pa...,1.45,2022-12-30 21:03:38,Eco,1555.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
7,__export__.product_price_history_96967_56dcb008,Pouch multifrutas y yogur Casa Grande Xanceda ...,0.85,2022-12-30 21:03:38,Eco,147.0,(CASA GRANDE XANCEDA) CASA GRANDE DE XANCEDA S.L.,"Resto Producto Fresco / Leche, zumos, producto..."
...,...,...,...,...,...,...,...,...
4241,__export__.product_price_history_94170_f95b7cbd,Borraja,1.51,2022-12-01 07:53:53,Eco,217.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4243,__export__.product_price_history_94169_a01653b4,Nuez con cáscara 32/34 eco a granel,5.24,2022-12-01 07:53:53,Eco,5192.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Granel / Granel encurtidos y aperitivos / Frut...
4244,__export__.product_price_history_94168_bcb8bdd9,Dátiles medjoul Jumbo,10.80,2022-12-01 07:53:53,Eco,1903.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Fruta / Plátanos y exóticos
4248,__export__.product_price_history_94162_03b9ec8a,Mandarina,1.66,2022-12-01 07:53:53,Eco,906.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos
4251,__export__.product_price_history_94161_7fe055d2,Kiwi verde nacional,3.13,2022-12-01 07:53:52,Eco,816.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de pepita

In [363]:
len(precio_dic_2022_sin_nan)

2809

In [364]:
# El df precio_dic_2022_sin_nan presenta 2809 registros, es una cantidad mayor a lo sregistros del
# dfprecio_juldic_diciembre_2022 que presenta una cantida de 1155 registros.
# Se recomienda fusionar ambos registros e liminar los duplicados.

In [365]:
# Explorando df precio_juldic
# Analizando el dataframe precio_juldic para verificar si las compras de diciembre 2022 son iguales o 
# cual dataframe presenta menos valores NaN

In [366]:
# Creamos un nuevo df con registros del mes de diciembre de 2022 tomando como base el df precio_juldic

# Convertimos la columna de fecha a un objeto datetime
precio_juldic['Fecha_dic'] = pd.to_datetime(precio_juldic['Fecha'])

# Filtramos los registros del mes de diciembre
dfprecio_juldic_diciembre_2022 = precio_juldic[precio_juldic['Fecha_dic'].dt.month == 12]

dfprecio_juldic_diciembre_2022

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar,Fecha_dic
0,__export__.product_price_history_95321_35282e65,Barrita de sésamo bio Ideas 20 gr,0.26,2022-12-14 12:37:50,Eco,135.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Desayunos y merienda / Tortita...,2022-12-14 12:37:50
1,__export__.product_price_history_95315_6718a328,Crema de cacahuete bio Ethiquable 350 gr,3.63,2022-12-14 12:37:50,Eco,467.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Cremas u...,2022-12-14 12:37:50
2,__export__.product_price_history_95314_e5481612,Caramelos cereza y jengibre bio Ideas 100 g,1.66,2022-12-14 12:37:50,Eco,5196.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros,2022-12-14 12:37:50
3,__export__.product_price_history_95313_1e7ac49b,Caramelos miel y anís bio Ideas 100 gr,1.57,2022-12-14 12:37:50,Eco,3443.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros,2022-12-14 12:37:50
4,__export__.product_price_history_95312_1fbab516,Refresco de cola Frixen 33 cl,1.30,2022-12-14 12:37:50,Eco,1309.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Aguas y refrescos / Refrescos,2022-12-14 12:37:50
...,...,...,...,...,...,...,...,...,...
1787,__export__.product_price_history_94175_9a4dfe59,Alga nori copos Portomuiños 25 gr,1.79,2022-12-01 07:53:53,Eco,3177.0,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ...",2022-12-01 07:53:53
1788,__export__.product_price_history_94174_261a8c7c,Tomate rama,1.17,2022-12-01 07:53:53,Eco,1483.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2022-12-01 07:53:53
1792,__export__.product_price_history_94173_b76eab84,Tomate pera,1.44,2022-12-01 07:53:53,Eco,1481.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2022-12-01 07:53:53
1796,__export__.product_price_history_94172_14cdf0a0,Tomate cherry,2.08,2022-12-01 07:53:53,Eco,1469.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2022-12-01 07:53:53
1800,__export__.product_price_history_94161_7fe055d2,Kiwi verde nacional,3.13,2022-12-01 07:53:52,Eco,816.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de pepita,2022-12-01 07:53:52

In [367]:
# Reportar la cantidad NaN en dfprecio_juldic_diciembre_2022
dfprecio_juldic_diciembre_2022_producto_con_nan = dfprecio_juldic_diciembre_2022['Producto/Nombre'].isna().sum()
dfprecio_juldic_diciembre_2022_producto_con_nan

0

In [368]:
precio_juldic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 9 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             16217 non-null  object
 1   Producto/Nombre                                         16217 non-null  object
 2   Coste                                                   16217 non-null  float64
 3   Fecha                                                   16217 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  16217 non-null  object
 5   Producto/Referencia interna                             16217 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   24783 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         16217 non-null  object
 8   Fecha_dic                                               16217 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 1.7+ MB

In [369]:
# OBSERVACIÓN:
# Se generó la columan FEcha_dic adicional por el preocedimiento anterior, se debe proceder a eliminarlo para NO
# tener conflicto al juntar los 4 df.
precio_juldic = precio_juldic.drop('Fecha_dic', axis=1)
precio_juldic

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_95321_35282e65,Barrita de sésamo bio Ideas 20 gr,0.26,2022-12-14 12:37:50,Eco,135.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Desayunos y merienda / Tortita...
1,__export__.product_price_history_95315_6718a328,Crema de cacahuete bio Ethiquable 350 gr,3.63,2022-12-14 12:37:50,Eco,467.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Cremas u...
2,__export__.product_price_history_95314_e5481612,Caramelos cereza y jengibre bio Ideas 100 g,1.66,2022-12-14 12:37:50,Eco,5196.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
3,__export__.product_price_history_95313_1e7ac49b,Caramelos miel y anís bio Ideas 100 gr,1.57,2022-12-14 12:37:50,Eco,3443.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Dulces y repostería / Otros
4,__export__.product_price_history_95312_1fbab516,Refresco de cola Frixen 33 cl,1.30,2022-12-14 12:37:50,Eco,1309.0,(IDEAS) INICIATIVAS DE ECONOMIA ALTERNATIVA Y ...,Seco Envasado / Aguas y refrescos / Refrescos
...,...,...,...,...,...,...,...,...
24778,__export__.product_price_history_78928_ebc91b42,Melocoton amarillo,2.33,2022-06-30 08:16:35,Eco,938.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de hueso
24779,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
24780,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN
24781,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
24782,__export__.product_price_history_78927_9cdb8c96,Manzana Choupette,1.87,2022-06-30 08:16:35,Eco,4490.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita

### 1. Fisionamos los 4 dataframe

In [370]:
# Fusionamos las compras de los años 2021 y 2022
# precio_enejun= pd.read_excel("Evolución_precio_enerojunio22.xls")  # Archivo 1
# precio_juldic= pd.read_excel("Evolución_precio_juliodiciembre22.xls") # Obs: columna fecha con mes dic duplicada con el dataframe precio_2022 # Archivo 2
# precio_2021= pd.read_excel("Price_history_2021.xls")         # Archivo 3
# precio_2022= pd.read_excel("Price_history_122022.xls")       # Archivo 4

In [371]:
# Fusionamos los dataframes consideradno el orden por año (2021 y 2022)
dfcompras_2021_2022= pd.concat([precio_2021, precio_enejun, precio_juldic, precio_2022], axis=0)

# Mostramos el resultado
dfcompras_2021_2022

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_57358_1e54992d,Manzana royal gala,1.53,2021-12-30 18:51:57,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...,...
4249,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4250,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
4251,__export__.product_price_history_94161_7fe055d2,Kiwi verde nacional,3.13,2022-12-01 07:53:52,Eco,816.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Fruta / Fruta de pepita
4252,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4253,NaN,NaN,NaN,NaT,NaN,NaN,(GUMENDI) GUMIEL Y MENDIA S.L.,NaN

In [372]:
dfcompras_2021_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119956 entries, 0 to 4253
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   External ID                                             77054 non-null   object
 1   Producto/Nombre                                         77054 non-null   object
 2   Coste                                                   77054 non-null   float64
 3   Fecha                                                   77054 non-null   datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  77054 non-null   object
 5   Producto/Referencia interna                             77054 non-null   float64
 6   Producto/Proveedores/Nombre a mostrar                   119956 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         77054 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 8.2+ MB

### Eliminar duplicados

In [373]:
# 2. Con respecto al archivo duplicado del mes de Dic_2022, al ser fusinado se podrá eliminar los registros duplicados.

In [374]:
# Se elimina registros duplicados y se asgna a un nuevo df
dfcompras_2021_2022_sin_dupli = dfcompras_2021_2022.drop_duplicates()
dfcompras_2021_2022_sin_dupli

,External ID,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,__export__.product_price_history_57358_1e54992d,Manzana royal gala,1.53,2021-12-30 18:51:57,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...,...
4220,__export__.product_price_history_94166_365b75ee,Pomelo,1.38,2022-12-01 07:53:53,Eco,1237.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,__export__.product_price_history_94173_b76eab84,Tomate pera,1.44,2022-12-01 07:53:53,Eco,1481.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,__export__.product_price_history_94172_14cdf0a0,Tomate cherry,2.08,2022-12-01 07:53:53,Eco,1469.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,__export__.product_price_history_94171_53e459e3,Cebolla Blanca,0.92,2022-12-01 07:53:53,Eco,284.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,__export__.product_price_history_94162_03b9ec8a,Mandarina,1.66,2022-12-01 07:53:53,Eco,906.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [375]:
dfcompras_2021_2022_sin_dupli.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76053 entries, 0 to 4248
Data columns (total 8 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   External ID                                             76018 non-null  object
 1   Producto/Nombre                                         76018 non-null  object
 2   Coste                                                   76018 non-null  float64
 3   Fecha                                                   76018 non-null  datetime64[ns]
 4   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 5   Producto/Referencia interna                             76018 non-null  float64
 6   Producto/Proveedores/Nombre a mostrar                   76053 non-null  object
 7   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 5.2+ MB

In [376]:
# Calcular la cantidaad de elementos duplicados que fueron eliminados
cant_reg_eliminados_1=len(dfcompras_2021_2022)-len(dfcompras_2021_2022_sin_dupli)
cant_reg_eliminados_1

43903

In [377]:
# SE eliminarosn 43903 registros.

### Eliminar columnas innecesarias

In [378]:
# 3. Eliminar "External ID"
# Primero visualizamos las columnas, para ver como estan configuradas
print(dfcompras_2021_2022_sin_dupli.columns)

Index(['External ID', 'Producto/Nombre', 'Coste', 'Fecha',
       'Producto/Cuenta analítica para gastos/Nombre a mostrar',
       'Producto/Referencia interna', 'Producto/Proveedores/Nombre a mostrar',
       'Producto/Categoría de producto/Nombre a mostrar'],
      dtype='object')

In [379]:
# Segundo, eliminamos columna "External ID"
dfcompras_2021_2022_V2 = dfcompras_2021_2022_sin_dupli.drop('External ID', axis=1)
dfcompras_2021_2022_V2

,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,Manzana royal gala,1.53,2021-12-30 18:51:57,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...
4220,Pomelo,1.38,2022-12-01 07:53:53,Eco,1237.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,Tomate pera,1.44,2022-12-01 07:53:53,Eco,1481.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,Tomate cherry,2.08,2022-12-01 07:53:53,Eco,1469.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,Cebolla Blanca,0.92,2022-12-01 07:53:53,Eco,284.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,Mandarina,1.66,2022-12-01 07:53:53,Eco,906.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [380]:
dfcompras_2021_2022_V2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76053 entries, 0 to 4248
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Producto/Nombre                                         76018 non-null  object
 1   Coste                                                   76018 non-null  float64
 2   Fecha                                                   76018 non-null  datetime64[ns]
 3   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 4   Producto/Referencia interna                             76018 non-null  float64
 5   Producto/Proveedores/Nombre a mostrar                   76053 non-null  object
 6   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 4.6+ MB

### Eliminar la hora

In [381]:
# 4. Eliminar la hora de la columna fecha.
dfcompras_2021_2022_V2['Fecha'] = dfcompras_2021_2022_V2['Fecha'].dt.date
dfcompras_2021_2022_V2

,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,Manzana royal gala,1.53,2021-12-30,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...
4220,Pomelo,1.38,2022-12-01,Eco,1237.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,Tomate pera,1.44,2022-12-01,Eco,1481.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,Tomate cherry,2.08,2022-12-01,Eco,1469.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,Cebolla Blanca,0.92,2022-12-01,Eco,284.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,Mandarina,1.66,2022-12-01,Eco,906.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [382]:
dfcompras_2021_2022_V2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76053 entries, 0 to 4248
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Producto/Nombre                                         76018 non-null  object
 1   Coste                                                   76018 non-null  float64
 2   Fecha                                                   76018 non-null  object
 3   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 4   Producto/Referencia interna                             76018 non-null  float64
 5   Producto/Proveedores/Nombre a mostrar                   76053 non-null  object
 6   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: float64(2), object(5)
memory usage: 4.6+ MB

In [383]:
# Convertir el tipo de dato de Fecha de object a datetime64
dfcompras_2021_2022_V2['Fecha'] = pd.to_datetime(dfcompras_2021_2022_V2['Fecha']).dt.date
dfcompras_2021_2022_V2.head(20000)

,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,Manzana royal gala,1.53,2021-12-30,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
1,NaN,NaN,NaT,NaN,NaN,(GREEN) GREEN GROWING ORGANICS S.L.,NaN
2,NaN,NaN,NaT,NaN,NaN,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,NaN
3,NaN,NaN,NaT,NaN,NaN,(EUROBANAN) EUROBANAN S.L.,NaN
4,NaN,NaN,NaT,NaN,NaN,(BIOECONATURAL) BIOECO NATURAL S.L.,NaN
...,...,...,...,...,...,...,...
31305,Crema almendra tostada bio Rapunzel 250 gr,5.30,2021-06-17,Eco,1650.0,(BIOCOP) BIOCOP PRODUCTOS BIOLOGICOS S.A.,Seco Envasado / Dulces y repostería / Cremas u...
31306,Galleta con copos de avena integral con chips ...,1.71,2021-06-17,Eco,619.0,(BIOCOP) BIOCOP PRODUCTOS BIOLOGICOS S.A.,Seco Envasado / Desayunos y merienda / Galletas
31307,Lavavajillas hipoalergénico 0% Ecodoo 1 L,2.42,2021-06-17,Eco,2733.0,(BIOCOP) BIOCOP PRODUCTOS BIOLOGICOS S.A.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
31308,Wafel de caramelo Biocop 175 g,1.48,2021-06-17,Eco,2539.0,(BIOCOP) BIOCOP PRODUCTOS BIOLOGICOS S.A.,Seco Envasado / Desayunos y merienda / Galletas
31309,Galletas trigo espelta integral chocolate y av...,1.74,2021-06-17,Eco,1687.0,(BIOCOP) BIOCOP PRODUCTOS BIOLOGICOS S.A.,Seco Envasado / Desayunos y merienda / Galletas

### Normalizar la cantidad de dígitos del código de producto.

In [384]:
# 5. Agregarle digitos 0 (ceros) al "Producto/Referencia interna" hasta completar los 6 dígitos (normalización).
#    Pero primero se debe eliminar los campos con valor NULO para poder aplicar las funciones necesarias.

In [385]:
dfcompras_2021_2022_V2 = dfcompras_2021_2022_V2.dropna(subset=['Producto/Referencia interna'])
dfcompras_2021_2022_V2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 4248
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Producto/Nombre                                         76018 non-null  object
 1   Coste                                                   76018 non-null  float64
 2   Fecha                                                   76018 non-null  object
 3   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 4   Producto/Referencia interna                             76018 non-null  float64
 5   Producto/Proveedores/Nombre a mostrar                   76018 non-null  object
 6   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: float64(2), object(5)
memory usage: 4.6+ MB

In [386]:
dfcompras_2021_2022_V2

,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,Manzana royal gala,1.53,2021-12-30,Eco,921.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
5,Tomate rama,2.31,2021-12-30,Eco,1483.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar
9,Recambio cepillo suave Yaweco,4.06,2021-12-30,Convencional,5758.0,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
10,Recambio cepillo medium hard Yaweco,4.06,2021-12-30,Convencional,5753.0,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
11,Mini guantes de algodón bio reutilizables Anae...,4.30,2021-12-30,Eco,4514.0,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
...,...,...,...,...,...,...,...
4220,Pomelo,1.38,2022-12-01,Eco,1237.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,Tomate pera,1.44,2022-12-01,Eco,1481.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,Tomate cherry,2.08,2022-12-01,Eco,1469.0,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,Cebolla Blanca,0.92,2022-12-01,Eco,284.0,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,Mandarina,1.66,2022-12-01,Eco,906.0,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [387]:
# Convertir a valor entero.
dfcompras_2021_2022_V2['Producto/Referencia interna'] = dfcompras_2021_2022_V2['Producto/Referencia interna'].astype(int)
dfcompras_2021_2022_V2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 4248
Data columns (total 7 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Producto/Nombre                                         76018 non-null  object
 1   Coste                                                   76018 non-null  float64
 2   Fecha                                                   76018 non-null  object
 3   Producto/Cuenta analítica para gastos/Nombre a mostrar  76018 non-null  object
 4   Producto/Referencia interna                             76018 non-null  int64
 5   Producto/Proveedores/Nombre a mostrar                   76018 non-null  object
 6   Producto/Categoría de producto/Nombre a mostrar         76018 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.6+ MB

In [388]:
dfcompras_2021_2022_V2.loc[dfcompras_2021_2022_V2['Producto/Referencia interna'].astype(str).str.len() < 6, 'Producto/Referencia interna'] = dfcompras_2021_2022_V2.loc[dfcompras_2021_2022_V2['Producto/Referencia interna'].astype(str).str.len() < 6, 'Producto/Referencia interna'].astype(str).str.zfill(6)

In [389]:
dfcompras_2021_2022_V2.head(60000)

,Producto/Nombre,Coste,Fecha,Producto/Cuenta analítica para gastos/Nombre a mostrar,Producto/Referencia interna,Producto/Proveedores/Nombre a mostrar,Producto/Categoría de producto/Nombre a mostrar
0,Manzana royal gala,1.53,2021-12-30,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
5,Tomate rama,2.31,2021-12-30,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar
9,Recambio cepillo suave Yaweco,4.06,2021-12-30,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
10,Recambio cepillo medium hard Yaweco,4.06,2021-12-30,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
11,Mini guantes de algodón bio reutilizables Anae...,4.30,2021-12-30,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
...,...,...,...,...,...,...,...
2955,Habas baby Gourmet 425 g,1.49,2022-11-24,Convencional,005467,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.",Seco Envasado / Conserva vegetal / Conserva ve...
2956,Tomate entero pelado Gourmet 480 gr,0.84,2022-11-24,Convencional,002862,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.",Seco Envasado / Conserva vegetal / Conserva ve...
2957,Tomate triturado Gourmet 800 gr,0.84,2022-11-24,Convencional,003070,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.",Seco Envasado / Conserva vegetal / Conserva ve...
2958,Tomate triturado Gourmet 400 gr,0.53,2022-11-24,Convencional,002863,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.",Seco Envasado / Conserva vegetal / Conserva ve...
2959,Judia verde fina redonda Gourmet 420g,1.14,2022-11-24,Convencional,005466,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.",Seco Envasado / Conserva vegetal / Conserva ve...

In [390]:
### NO es recomendable subcategorizar los productos

In [391]:
# 6. Por el momento NO es recomendable subcategorizar los productos en base a "Producto/Categoría de producto/Nombre a mostrar"
#    porque existirán productos con nombres extraños que no podremos identificar para determinar su categoría.
#    En una segunda versión, quizás se pueda filtrar el primer nombre para poder establecer una subcategoría.

In [392]:
### Renombrar columnas

In [393]:
# 7. Renombrar los campos, priorizando o alineando los nombre asignados en los dfventas. Revisando los dfcompras, se recomienda:
#    "Producto/Cuenta analítica para gastos/Nombre a mostrar" por TIPO_PRODUCTO
#    "Producto/Proveedores/Nombre a mostrar" por PROVEEDOR
#    "Producto/Categoría de producto/Nombre a mostrar" por CATEGORIA_PRODUCTO

dfcompras_2021_2022_V2 = dfcompras_2021_2022_V2.rename(columns={
    'Producto/Nombre': 'Nombre_Prod',
    'Coste': 'Costo_Compra',
    'Fecha': 'Fecha_Compra',
    'Producto/Cuenta analítica para gastos/Nombre a mostrar': 'Tipo_Prod',
    'Producto/Referencia interna': 'Id_Prod_2',
    'Producto/Proveedores/Nombre a mostrar': 'Proveedor',
    'Producto/Categoría de producto/Nombre a mostrar': 'Categoria_Prod'
})

In [394]:
dfcompras_2021_2022_V2

,Nombre_Prod,Costo_Compra,Fecha_Compra,Tipo_Prod,Id_Prod_2,Proveedor,Categoria_Prod
0,Manzana royal gala,1.53,2021-12-30,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
5,Tomate rama,2.31,2021-12-30,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar
9,Recambio cepillo suave Yaweco,4.06,2021-12-30,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
10,Recambio cepillo medium hard Yaweco,4.06,2021-12-30,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
11,Mini guantes de algodón bio reutilizables Anae...,4.30,2021-12-30,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
...,...,...,...,...,...,...,...
4220,Pomelo,1.38,2022-12-01,Eco,001237,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,Tomate pera,1.44,2022-12-01,Eco,001481,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,Tomate cherry,2.08,2022-12-01,Eco,001469,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,Cebolla Blanca,0.92,2022-12-01,Eco,000284,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,Mandarina,1.66,2022-12-01,Eco,000906,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [395]:
dfcompras_2021_2022_V2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 4248
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nombre_Prod     76018 non-null  object
 1   Costo_Compra    76018 non-null  float64
 2   Fecha_Compra    76018 non-null  object
 3   Tipo_Prod       76018 non-null  object
 4   Id_Prod_2       76018 non-null  object
 5   Proveedor       76018 non-null  object
 6   Categoria_Prod  76018 non-null  object
dtypes: float64(1), object(6)
memory usage: 4.6+ MB

In [396]:
# Visualizar los valores unicos de la Categoria_Prod
valores_unicos_1 = dfcompras_2021_2022_V2['Categoria_Prod'].unique()
print(valores_unicos_1)

['Fruta y Verdura / Fruta / Fruta de pepita'
 'Fruta y Verdura / Verdura / Verdura de cocinar'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Higiene / Higiene bucal'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Higiene / Higiene corporal'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Parafarmacia y cosmética / Cuidado de la piel'
 'Seco Envasado / Dulces y repostería / Otros'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Acccesorios de limpieza'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Productos de limpieza'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Hogar / Pilas'
 'Seco Envasado / Dulces y repostería / Conservas de frutas'
 'Seco Envasado / Panes, harinas / Panes industriales'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Jabón y detergente'
 'Seco Envasado / Desayunos y merienda / Galletas'
 'Seco Envasado / Desayunos y merienda / Cereales'
 'Seco Envasado / Arroces, pastas, sémolas y legumbres / Arroces'
 'Seco Envasado / Zumos, leche y bebidas vegetales / Leche y leches especiales'
 'Seco Envasado / Zumos, leche y bebidas vegetales / Bebidas vegetales'
 'Seco Envasado / Dulces y repostería / Azúcar y edulcorantes'
 'Seco Envasado / Salsas / Natas'
 'Seco Envasado / Dulces y repostería / Chocolate'
 'Seco Envasado / Arroces, pastas, sémolas y legumbres / Pastas y sémolas'
 'Seco Envasado / Cafés e infusiones / Cafés y cacaos'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Otros'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Higiene / Higiene íntima'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Hogar / Otros'
 'Seco Envasado / Conserva vegetal / Conserva vegetal'
 'Seco Envasado / Vinos, cervezas, sidras / Cervezas'
 'Seco Envasado / Alimentación y cuidado mascotas / Accesorios'
 'Seco Envasado / Desayunos y merienda / Bollería industrial'
 'Seco Envasado / Encurtidos y aperitivos / Patatas fritas'
 'Seco Envasado / Encurtidos y aperitivos / Frutos secos'
 'Seco Envasado / Aceites, aliños y condimentos / Especias y condimentos'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Protección del alimento'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Parafarmacia y cosmética / Antisépticos y protectores'
 'Seco Envasado / Salsas / Salsas'
 'Seco Envasado / Aceites, aliños y condimentos / Vinagre'
 'Seco Envasado / Aceites, aliños y condimentos / Aceites'
 'Seco Envasado / Aceites, aliños y condimentos / Sal'
 'Seco Envasado / Panes, harinas / Harinas'
 'Seco Envasado / Arroces, pastas, sémolas y legumbres / Legumbre seca'
 'Seco Envasado / Aguas y refrescos / Aguas'
 'Seco Envasado / Vinos, cervezas, sidras / Sidras'
 'Seco Envasado / Encurtidos y aperitivos / Olivas y encurtidos'
 'Seco Envasado / Aguas y refrescos / Refrescos'
 'Seco Envasado / Vinos, cervezas, sidras / Vinos'
 'Seco Envasado / Caldo, cremas, plato preparado, conserva / Conserva de pescado'
 'Resto Producto Fresco / Leche, zumos, productos lácteos / Yogures y postres'
 'Resto Producto Fresco / Quesos / Frescos y tiernos'
 'Resto Producto Fresco / Leche, zumos, productos lácteos / Otros'
 'Resto Producto Fresco / Charcutería animal / Embutidos'
 'Resto Producto Fresco / Platos preparados / Platos preparados frescos'
 'Resto Producto Fresco / Quesos / Curados y fermentados'
 'Seco Envasado / Caldo, cremas, plato preparado, conserva / Sopas y cremas'
 'Seco Envasado / Encurtidos y aperitivos / Nachos'
 'Seco Envasado / Caldo, cremas, plato preparado, conserva / Platos preparados'
 'Seco Envasado / Cereales y semillas / Cereales'
 'Resto Producto Fresco / Leche, zumos, productos lácteos / Leche fresca'
 'Fruta y Verdura / Fruta / Plátanos y exóticos'
 'Fruta y Verdura / Verdura / Tubérculos y raíces'
 'Fruta y Verdura / 4ª gama / 4ª gama'
 'Resto Producto Fresco / Panadería y bollería salada / Pan'
 'Resto Producto Fresco / Panadería y bollería salada / Bollería'
 'Fruta y Verdura / Verdura / Verdura ensalada'
 'Fruta y Verdura / Fruta / Cítricos'
 'Fruta y Verdura / Fruta / Fruta de hueso'
 'Seco Envasado / Desayunos y merienda / Tortitas y barritas'
 'Seco Envasado / Dulces y repostería / Cremas untables'
 'Seco Envasado / Zumos, leche y bebidas vegetales / Zumos y néctares'
 'Seco Envasado / Cereales y semillas / Semillas'
 'Resto Producto Fresco / Carnes frescas / Aves'
 'Resto Producto Fresco / Carnes frescas / Vacuno'
 'Resto Producto Fresco / Carnes frescas / Otros'
 'Resto Producto Fresco / Huevos / Huevos'
 'Fruta y Verdura / Verdura / Otras verduras'
 'Granel / Granel seco arroces, pastas, sémolas y legumbres / Pastas y sémolas'
 'Granel / Granel seco cereales y semillas / Semillas'
 'Fruta y Verdura / Agroecológico / Fruta'
 'Resto Producto Fresco / Carnes frescas / Cerdo'
 'Resto Producto Fresco / Pescados y mariscos / Pescado fresco' 'Librería'
 'Granel / Granel desayunos y meriendas / Galletas granel'
 'Granel / Granel desayunos y meriendas / Cereales'
 'Granel / Granel encurtidos y aperitivos / Frutos secos'
 'Seco Envasado / Bebidas espirituosas / Bebidas espirituosas'
 'Fruta y Verdura / Agroecológico / Verdura de cocinar'
 'Fruta y Verdura / Agroecológico / Tubérculos y raíces'
 'Seco Envasado / Cafés e infusiones / Té e infusiones'
 'Granel / Granel cafés e infusiones / Tés e infusiones'
 'Resto Producto Fresco / Leche, zumos, productos lácteos / Yogur y postre vegetal'
 'Seco Envasado / Dulces y repostería / Mermelada'
 'Fruta y Verdura / Agroecológico / Verdura ensalada'
 'Seco Envasado / Encurtidos y aperitivos / Snacks de frutas y verduras'
 'Granel / Granel seco arroces, pastas, sémolas y legumbres / Legumbre seca'
 'Seco Envasado / Aceites, aliños y condimentos / Algas y setas deshidratadas'
 'Resto Producto Fresco / Charcutería vegetal / Charcutería vegetal'
 'Granel / Granel dulces y repostería / Azúcares y edulcorantes a granel'
 'Fruta y Verdura / 4ª gama / Germinados'
 'Seco Envasado / Encurtidos y aperitivos / Otros'
 'Granel / Granel seco cereales y semillas / Cereales'
 'Seco Envasado / Alimentación e higiene infantil / Higiene'
 'Seco Envasado / Alimentación e higiene infantil / Tarritos'
 'Granel / Granel panes y harinas / Harinas granel'
 'Resto Producto Fresco / Congelados / Pescados y precocinados'
 'Resto Producto Fresco / Congelados / Verduras'
 'Seco Envasado / Dulces y repostería / Postres'
 'Seco Envasado / Alimentación e higiene infantil / Leches'
 'Resto Producto Fresco / Pescados y mariscos / Ahumados y vinagres'
 'Seco Envasado / Alimentación y cuidado mascotas / Alimento para gatos'
 'Seco Envasado / Bebidas espirituosas / Licores'
 'Resto Producto Fresco / Congelados / Helados'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Hogar / Limpiacalzado'
 'Fruta y Verdura / Fruta / Otras frutas'
 'Fruta y Verdura / Fruta / Melones y sandías'
 'Fruta y Verdura / Agroecológico / Otras verduras'
 'Granel / Granel seco arroces, pastas, sémolas y legumbres / Arroces'
 'Granel / Granel aceites, aliños y condimentos / Especias y condimentos granel'
 'Seco Envasado / Alimentación y cuidado mascotas / Alimento para perros'
 'Seco Envasado / Alimentación e higiene infantil / Papillas'
 'Granel / Granel cafés e infusiones / Cafés y cacaos'
 'Seco Envasado / Dulces y repostería / Repostería'
 'Resto Producto Fresco / Leche, zumos, productos lácteos'
 'Fruta y Verdura' 'Granel / Granel salado / Pastas y sémolas'
 'Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Insecticidas'
 'Seco Envasado / Herboristería y dietética / Preparaciones medicinales'
 'All' 'Error' 'Granel / Granel salado / Café en grano'
 'Granel / Granel droguería, perfumería, limpieza, higiene y hogar / Higiene – Higiene corporal'
 'Seco Envasado / Alimentación e higiene infantil / Infusiones'
 'Seco Envasado / Herboristería y dietética / Suplementos alimenticios'
 'Granel / Granel desayunos y meriendas / Bollería industrial']

In [397]:
# Visualizar los valores unicos 
valores_unicos_2 = dfcompras_2021_2022_V2['Nombre_Prod'].unique()
valores_unicos_2

array(['Manzana royal gala', 'Tomate rama',
       'Recambio cepillo suave Yaweco', ...,
       'Conejo escabechado VACÍO combinado 1 ración',
       'Pollo entero deshuesado Sanchonar aprox 2,5 kg',
       'Pollo capón deshuesado  Sanchonar aprox. 4,5 kg.'], dtype=object)

In [398]:
# Visualizar valores unico sen el campo Nombre_Prod
cantidad_por_subcategoria = dfcompras_2021_2022_V2.groupby(['Nombre_Prod', 'Categoria_Prod'])['Categoria_Prod'].size()
cantidad_por_subcategoria

Nombre_Prod                                      Categoria_Prod
AJUSTE 31/12/20                                  All                                                                                                 1
Abrillantador Finish 500 ml                      Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Productos de limpieza                 3
Abrillantador lavavajillas Ecodoo 500 ml         Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Productos de limpieza                 4
Acedía grande limpia y entera                    Resto Producto Fresco / Pescados y mariscos / Pescado fresco                                        1
Aceite caléndula y almendras Piel sana 100 ml    Droguería, Perfumería, Limpieza, Higiene, Hogar / Parafarmacia y cosmética / Cuidado de la piel     3
                                                                                                                                                    ..
patata roja AgroEc.                              Fruta y Verdura / Agroecológico / Verdura de cocinar                                               19
proteina de guisante texturizada Vegetalia 250g  Seco Envasado / Cereales y semillas / Cereales                                                      2
tomate seco unidad AgroEc                        Fruta y Verdura / Agroecológico / Verdura de cocinar                                               26
vinagre balsamico Ecovinal 500 ml                Seco Envasado / Aceites, aliños y condimentos / Vinagre                                            15
Ácido cítrico Ecodoo 350 gr                      Droguería, Perfumería, Limpieza, Higiene, Hogar / Droguería / Productos de limpieza                 4
Name: Categoria_Prod, Length: 4705, dtype: int64

In [399]:
cantidad_por_subcategoria = dfcompras_2021_2022_V2['Nombre_Prod'].value_counts()
print(cantidad_por_subcategoria)

Pan integral de espelta El árbol del pan 500 gr                     501
Pan de cereales con semillas El árbol del pan 500 gr                497
Pan blanco de trigo El árbol del pan 500 gr                         494
Envase Veer 33cl                                                    493
Pan integral de trigo El árbol del pan 500 gr                       492
                                                                   ...
Esparrago extra frasco 9-12 Gourmet 110 gr                            1
Nuez pelada al vacio  Valle de taibilla 100 gr                        1
Mascarilla FFP2 negra CE 0370 UPMASK pack 20 ud                       1
Pan integral de trigo y centeno rebanado El árbol del pan 750 gr      1
Pollo capón deshuesado  Sanchonar aprox. 4,5 kg.                      1
Name: Nombre_Prod, Length: 4702, dtype: int64

In [400]:
# Vamos a proceder a limitar la fecha con mes y año

# Primero ordenamos por fecha.
dfcompras_2021_2022_V2.sort_values(by='Fecha_Compra')  

# se define el formato fecha por año y mes porque se requiere promedios mensuales
dfcompras_2021_2022_V2['Fecha_Compra'] = pd.PeriodIndex(dfcompras_2021_2022_V2['Fecha_Compra'], freq='M')
dfcompras_2021_2022_V2

,Nombre_Prod,Costo_Compra,Fecha_Compra,Tipo_Prod,Id_Prod_2,Proveedor,Categoria_Prod
0,Manzana royal gala,1.53,2021-12,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
5,Tomate rama,2.31,2021-12,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar
9,Recambio cepillo suave Yaweco,4.06,2021-12,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
10,Recambio cepillo medium hard Yaweco,4.06,2021-12,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
11,Mini guantes de algodón bio reutilizables Anae...,4.30,2021-12,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
...,...,...,...,...,...,...,...
4220,Pomelo,1.38,2022-12,Eco,001237,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
4230,Tomate pera,1.44,2022-12,Eco,001481,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4234,Tomate cherry,2.08,2022-12,Eco,001469,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar
4238,Cebolla Blanca,0.92,2022-12,Eco,000284,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces
4248,Mandarina,1.66,2022-12,Eco,000906,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos

In [401]:
### Calular el promedio de costo_compra por producto considerando mes y año.

# Convertir 'Fecha_Compra' a tipo datetime y extraer año y mes
# dfcompras_2021_2022_V2['Fecha_Compra'] = pd.to_datetime(dfcompras_2021_2022_V2['Fecha_Compra'])
dfcompras_2021_2022_V2['Año_Compra'] = dfcompras_2021_2022_V2['Fecha_Compra'].dt.year
dfcompras_2021_2022_V2['Mes_Compra'] = dfcompras_2021_2022_V2['Fecha_Compra'].dt.month

# Agrupar por 'Id_Prod_2', 'año' y 'mes' y calcular el promedio de 'Costo_Compra'
promedio_costo_por_producto_mes = dfcompras_2021_2022_V2.groupby(['Id_Prod_2', 'Año_Compra', 'Mes_Compra'])['Costo_Compra'].mean()

# Mostrar resultado
print(promedio_costo_por_producto_mes)

Id_Prod_2  Año_Compra  Mes_Compra
000005     2021        1             19.00
000008     2021        2              7.44
                       7              7.44
000009     2021        1              5.43
                       6              5.35
                                     ...
006514     2022        12             7.72
006515     2022        12             2.06
006516     2022        12             2.06
006517     2022        12             2.01
006518     2022        12             2.06
Name: Costo_Compra, Length: 36297, dtype: float64

In [402]:
# Convertir la serie anterior en DataFrame
promedio_costo_por_producto_mes_df = promedio_costo_por_producto_mes.to_frame().reset_index()
promedio_costo_por_producto_mes_df

      Id_Prod_2  Año_Compra  Mes_Compra  Costo_Compra
0        000005        2021           1         19.00
1        000008        2021           2          7.44
2        000008        2021           7          7.44
3        000009        2021           1          5.43
4        000009        2021           6          5.35
...         ...         ...         ...           ...
36292    006514        2022          12          7.72
36293    006515        2022          12          2.06
36294    006516        2022          12          2.06
36295    006517        2022          12          2.01
36296    006518        2022          12          2.06

[36297 rows x 4 columns]

In [403]:
# OBSERRVACION
# Tenemos 36297 registros del df con los promedio de cada producto por fecha y año de compra.
# ESTA VALIDADO

In [404]:
gg=36297*2
gg

72594

In [405]:
# Antes de fusionar ambos dataframe necesitamos eliminar el campo Costo_Compra del df dfcompras_2021_2022_V2,
# porque necesitamos el precio de compra promedio generado en promedio_costo_por_producto_df
dfcompras_2021_2022_V3 = dfcompras_2021_2022_V2.drop('Costo_Compra', axis=1)
dfcompras_2021_2022_V3.head(5)

,Nombre_Prod,Fecha_Compra,Tipo_Prod,Id_Prod_2,Proveedor,Categoria_Prod,Año_Compra,Mes_Compra
0,Manzana royal gala,2021-12,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita,2021,12
5,Tomate rama,2021-12,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2021,12
9,Recambio cepillo suave Yaweco,2021-12,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
10,Recambio cepillo medium hard Yaweco,2021-12,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
11,Mini guantes de algodón bio reutilizables Anae...,2021-12,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12

In [406]:
dfcompras_2021_2022_V3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 4248
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nombre_Prod     76018 non-null  object
 1   Fecha_Compra    76018 non-null  period[M]
 2   Tipo_Prod       76018 non-null  object
 3   Id_Prod_2       76018 non-null  object
 4   Proveedor       76018 non-null  object
 5   Categoria_Prod  76018 non-null  object
 6   Año_Compra      76018 non-null  int64
 7   Mes_Compra      76018 non-null  int64
dtypes: int64(2), object(5), period[M](1)
memory usage: 5.2+ MB

In [407]:
# resetear los índices
dfcompras_2021_2022_V4 = dfcompras_2021_2022_V3.reset_index(drop=True)

# mostrar el dataframe con los índices ordenados
dfcompras_2021_2022_V4

,Nombre_Prod,Fecha_Compra,Tipo_Prod,Id_Prod_2,Proveedor,Categoria_Prod,Año_Compra,Mes_Compra
0,Manzana royal gala,2021-12,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita,2021,12
1,Tomate rama,2021-12,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2021,12
2,Recambio cepillo suave Yaweco,2021-12,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
3,Recambio cepillo medium hard Yaweco,2021-12,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
4,Mini guantes de algodón bio reutilizables Anae...,2021-12,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
...,...,...,...,...,...,...,...,...
76013,Pomelo,2022-12,Eco,001237,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita,2022,12
76014,Tomate pera,2022-12,Eco,001481,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar,2022,12
76015,Tomate cherry,2022-12,Eco,001469,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar,2022,12
76016,Cebolla Blanca,2022-12,Eco,000284,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces,2022,12
76017,Mandarina,2022-12,Eco,000906,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos,2022,12

In [408]:
dfcompras_2021_2022_V4

,Nombre_Prod,Fecha_Compra,Tipo_Prod,Id_Prod_2,Proveedor,Categoria_Prod,Año_Compra,Mes_Compra
0,Manzana royal gala,2021-12,Eco,000921,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita,2021,12
1,Tomate rama,2021-12,Eco,001483,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Verdura / Verdura de cocinar,2021,12
2,Recambio cepillo suave Yaweco,2021-12,Convencional,005758,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
3,Recambio cepillo medium hard Yaweco,2021-12,Convencional,005753,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
4,Mini guantes de algodón bio reutilizables Anae...,2021-12,Eco,004514,(NATURCOSMETIKA) NATURCOSMETIKA ECOLOGICA S.L.,"Droguería, Perfumería, Limpieza, Higiene, Hoga...",2021,12
...,...,...,...,...,...,...,...,...
76013,Pomelo,2022-12,Eco,001237,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita,2022,12
76014,Tomate pera,2022-12,Eco,001481,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar,2022,12
76015,Tomate cherry,2022-12,Eco,001469,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,Fruta y Verdura / Verdura / Verdura de cocinar,2022,12
76016,Cebolla Blanca,2022-12,Eco,000284,(EUROBANAN) EUROBANAN S.L.,Fruta y Verdura / Verdura / Tubérculos y raíces,2022,12
76017,Mandarina,2022-12,Eco,000906,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Cítricos,2022,12

In [409]:
## FUSIONAR LOS DOS DATAFRAME 
# renombrar el campo "Id_Prod_2" en el dataframe "dfcompras_2021_2022_V2"
# dfcompras_2021_2022_V3 = dfcompras_2021_2022_V3.rename(columns={'Id_Prod_2': 'Id_Producto'})

# fusionar los dataframes priorizando "promedio_costo_por_producto_mes_df"
# merged_df = pd.merge(promedio_costo_por_producto_mes_df, dfcompras_2021_2022_V3, on='Id_Prod_2', how='left')

## merged_df = pd.merge(promedio_costo_por_producto_mes_df, dfcompras_2021_2022_V3[['Id_Prod_2', 'Año_Compra', 'Mes_Compra', 'Nombre_Prod', 'Tipo_Prod', 'Proveedor', 'Categoria_Prod']], on=['Id_Prod_2', 'Año_Compra', 'Mes_Compra'], how='left')
# Realizar el merge
merged_df = pd.merge(promedio_costo_por_producto_mes_df, dfcompras_2021_2022_V4[['Id_Prod_2', 'Fecha_Compra','Año_Compra', 'Mes_Compra', 'Nombre_Prod', 'Tipo_Prod', 'Proveedor', 'Categoria_Prod']], on=['Id_Prod_2', 'Año_Compra', 'Mes_Compra'], how='left')



# mostrar el dataframe fusionado
merged_df.head(20022)

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
0,000005,2021,1,19.00,2021-01,Acedía grande limpia y entera,Convencional,(A PEIXEIRA) MARIA CARMEN HERMIDA DIAZ,Resto Producto Fresco / Pescados y mariscos / ...
1,000008,2021,2,7.44,2021-02,Aceite caléndula y almendras Piel sana 100 ml,Eco,(PIELSANA) PIELSANA S.COOP.MAD.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
2,000008,2021,2,7.44,2021-02,Aceite caléndula y almendras Piel sana 100 ml,Eco,(PIELSANA) PIELSANA S.COOP.MAD.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
3,000008,2021,7,7.44,2021-07,Aceite caléndula y almendras Piel sana 100 ml,Eco,(PIELSANA) PIELSANA S.COOP.MAD.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
4,000009,2021,1,5.43,2021-01,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
...,...,...,...,...,...,...,...,...,...
20017,001167,2022,4,22.59,2022-04,Pechuga fileteada de pavo Sanchonar aprox 500 gr,Eco,(SANCHONAR) SANCHONAR S.L.,Resto Producto Fresco / Carnes frescas / Aves
20018,001167,2022,5,22.59,2022-05,Pechuga fileteada de pavo Sanchonar aprox 500 gr,Eco,(SANCHONAR) SANCHONAR S.L.,Resto Producto Fresco / Carnes frescas / Aves
20019,001167,2022,5,22.59,2022-05,Pechuga fileteada de pavo Sanchonar aprox 500 gr,Eco,(SANCHONAR) SANCHONAR S.L.,Resto Producto Fresco / Carnes frescas / Aves
20020,001167,2022,5,22.59,2022-05,Pechuga fileteada de pavo Sanchonar aprox 500 gr,Eco,(SANCHONAR) SANCHONAR S.L.,Resto Producto Fresco / Carnes frescas / Aves
20021,001167,2022,6,22.59,2022-06,Pechuga fileteada de pavo Sanchonar aprox 500 gr,Eco,(SANCHONAR) SANCHONAR S.L.,Resto Producto Fresco / Carnes frescas / Aves

In [410]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76018 entries, 0 to 76017
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_Prod_2       76018 non-null  object
 1   Año_Compra      76018 non-null  int64
 2   Mes_Compra      76018 non-null  int64
 3   Costo_Compra    76018 non-null  float64
 4   Fecha_Compra    76018 non-null  period[M]
 5   Nombre_Prod     76018 non-null  object
 6   Tipo_Prod       76018 non-null  object
 7   Proveedor       76018 non-null  object
 8   Categoria_Prod  76018 non-null  object
dtypes: float64(1), int64(2), object(5), period[M](1)
memory usage: 5.8+ MB

In [411]:
# Consultar un registro especifico para copararlo con el registro en promedio_costo_por_producto_mes_df
merged_df[merged_df.Nombre_Prod=="Manzana royal gala"]

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
13498,000921,2021,1,2.162000,2021-01,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13499,000921,2021,1,2.162000,2021-01,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13500,000921,2021,1,2.162000,2021-01,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13501,000921,2021,1,2.162000,2021-01,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13502,000921,2021,1,2.162000,2021-01,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
...,...,...,...,...,...,...,...,...,...
13710,000921,2022,12,1.725294,2022-12,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13711,000921,2022,12,1.725294,2022-12,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13712,000921,2022,12,1.725294,2022-12,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13713,000921,2022,12,1.725294,2022-12,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita
13714,000921,2022,12,1.725294,2022-12,Manzana royal gala,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,Fruta y Verdura / Fruta / Fruta de pepita

In [412]:
# Consultar el mismo regstro en promedio_costo_por_producto_mes_df para verificar si existe consistencia en los datos
# Vamos a considerar el campo Id_Prod_2 para filtar el producto
promedio_costo_por_producto_mes_df[promedio_costo_por_producto_mes_df.Id_Prod_2=="000921"]

     Id_Prod_2  Año_Compra  Mes_Compra  Costo_Compra
5364    000921        2021           1      2.162000
5365    000921        2021           2      2.083333
5366    000921        2021           3      2.181667
5367    000921        2021           4      2.083636
5368    000921        2021           5      2.200000
5369    000921        2021           6      2.155000
5370    000921        2021           7      2.040000
5371    000921        2021           8      2.107500
5372    000921        2021           9      1.763077
5373    000921        2021          10      1.720000
5374    000921        2021          11      1.593333
5375    000921        2021          12      1.541111
5376    000921        2022           1      1.770000
5377    000921        2022           2      1.504000
5378    000921        2022           3      1.643889
5379    000921        2022           4      1.815455
5380    000921        2022           5      1.639091
5381    000921        2022           6      1.750000
5382    000921        2022           7      1.776667
5383    000921        2022           8      2.213750
5384    000921        2022           9      2.050588
5385    000921        2022          10      1.730000
5386    000921        2022          11      1.730714
5387    000921        2022          12      1.725294

In [413]:
# Generar un nuevo dataframe con registros únicos en base a las columnas Id_Prod_2, Año_Compra y Mes_Compra
nuevo_df = merged_df.drop_duplicates(subset=['Id_Prod_2', 'Año_Compra', 'Mes_Compra'])

# Imprimir el nuevo dataframe
nuevo_df

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
0,000005,2021,1,19.00,2021-01,Acedía grande limpia y entera,Convencional,(A PEIXEIRA) MARIA CARMEN HERMIDA DIAZ,Resto Producto Fresco / Pescados y mariscos / ...
1,000008,2021,2,7.44,2021-02,Aceite caléndula y almendras Piel sana 100 ml,Eco,(PIELSANA) PIELSANA S.COOP.MAD.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
3,000008,2021,7,7.44,2021-07,Aceite caléndula y almendras Piel sana 100 ml,Eco,(PIELSANA) PIELSANA S.COOP.MAD.,"Droguería, Perfumería, Limpieza, Higiene, Hoga..."
4,000009,2021,1,5.43,2021-01,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
6,000009,2021,6,5.35,2021-06,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
...,...,...,...,...,...,...,...,...,...
76013,006514,2022,12,7.72,2022-12,Roscón mini 3 letras Pan 125 g,Eco,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
76014,006515,2022,12,2.06,2022-12,Yogur de avena natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76015,006516,2022,12,2.06,2022-12,Yogur de coco natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76016,006517,2022,12,2.01,2022-12,Yogur de soja skyr fresa Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76017,006518,2022,12,2.06,2022-12,Yogur vegetal con arandanos Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."

In [414]:
# Ordenar el nuevo dataframe en base a las columnas  Año_Compra y Mes_Compra
nuevo_df_ordenado = nuevo_df.sort_values(['Año_Compra', 'Mes_Compra'])

# Imprimir el nuevo dataframe ordenado
nuevo_df_ordenado

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
0,000005,2021,1,19.00,2021-01,Acedía grande limpia y entera,Convencional,(A PEIXEIRA) MARIA CARMEN HERMIDA DIAZ,Resto Producto Fresco / Pescados y mariscos / ...
4,000009,2021,1,5.43,2021-01,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
22,000013,2021,1,2.91,2021-01,Aceite de girasol Virgen bio Franciscanos 1 L,Eco,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,"Seco Envasado / Aceites, aliños y condimentos ..."
35,000018,2021,1,12.94,2021-01,Aceite oliva virgen extra Umbria Oretana 2.5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
50,000020,2021,1,22.95,2021-01,Aceite oliva virgen extra Umbria oretana 5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
...,...,...,...,...,...,...,...,...,...
76013,006514,2022,12,7.72,2022-12,Roscón mini 3 letras Pan 125 g,Eco,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
76014,006515,2022,12,2.06,2022-12,Yogur de avena natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76015,006516,2022,12,2.06,2022-12,Yogur de coco natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76016,006517,2022,12,2.01,2022-12,Yogur de soja skyr fresa Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76017,006518,2022,12,2.06,2022-12,Yogur vegetal con arandanos Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."

In [415]:
# Resetear el índice del dataframe ordenado
nuevo_df_ordenado_reset = nuevo_df_ordenado.reset_index(drop=True)

# Imprimir el dataframe reseteado
nuevo_df_ordenado_reset

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
0,000005,2021,1,19.00,2021-01,Acedía grande limpia y entera,Convencional,(A PEIXEIRA) MARIA CARMEN HERMIDA DIAZ,Resto Producto Fresco / Pescados y mariscos / ...
1,000009,2021,1,5.43,2021-01,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
2,000013,2021,1,2.91,2021-01,Aceite de girasol Virgen bio Franciscanos 1 L,Eco,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,"Seco Envasado / Aceites, aliños y condimentos ..."
3,000018,2021,1,12.94,2021-01,Aceite oliva virgen extra Umbria Oretana 2.5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
4,000020,2021,1,22.95,2021-01,Aceite oliva virgen extra Umbria oretana 5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
...,...,...,...,...,...,...,...,...,...
36292,006514,2022,12,7.72,2022-12,Roscón mini 3 letras Pan 125 g,Eco,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
36293,006515,2022,12,2.06,2022-12,Yogur de avena natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
36294,006516,2022,12,2.06,2022-12,Yogur de coco natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
36295,006517,2022,12,2.01,2022-12,Yogur de soja skyr fresa Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
36296,006518,2022,12,2.06,2022-12,Yogur vegetal con arandanos Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."

In [416]:
# CONCLUSION
# Se obtiene un dataframe con 36297 registros de COMPRAS para ser utilizado en el análisis.
# Renombramos el dataframe obtenido
dfosa_compras=nuevo_df_ordenado
dfosa_compras

,Id_Prod_2,Año_Compra,Mes_Compra,Costo_Compra,Fecha_Compra,Nombre_Prod,Tipo_Prod,Proveedor,Categoria_Prod
0,000005,2021,1,19.00,2021-01,Acedía grande limpia y entera,Convencional,(A PEIXEIRA) MARIA CARMEN HERMIDA DIAZ,Resto Producto Fresco / Pescados y mariscos / ...
4,000009,2021,1,5.43,2021-01,Aceite coco Maya gold 450 ml,Eco,(GUMENDI) GUMIEL Y MENDIA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
22,000013,2021,1,2.91,2021-01,Aceite de girasol Virgen bio Franciscanos 1 L,Eco,(PIDEBIO) PLATAFORMA IBERICA DISTRIBUCION ECOL...,"Seco Envasado / Aceites, aliños y condimentos ..."
35,000018,2021,1,12.94,2021-01,Aceite oliva virgen extra Umbria Oretana 2.5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
50,000020,2021,1,22.95,2021-01,Aceite oliva virgen extra Umbria oretana 5 L,Eco,(LA LABRANZA TOLEDANA) LA LABRANZA TOLEDANA S.L.,"Seco Envasado / Aceites, aliños y condimentos ..."
...,...,...,...,...,...,...,...,...,...
76013,006514,2022,12,7.72,2022-12,Roscón mini 3 letras Pan 125 g,Eco,"(3 LETRAS PAN) PANIDAJE, S.L.",Resto Producto Fresco / Panadería y bollería s...
76014,006515,2022,12,2.06,2022-12,Yogur de avena natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76015,006516,2022,12,2.06,2022-12,Yogur de coco natural Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76016,006517,2022,12,2.01,2022-12,Yogur de soja skyr fresa Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."
76017,006518,2022,12,2.06,2022-12,Yogur vegetal con arandanos Alpro 500 gr,Convencional,"(GM FOOD) TRANSGOURMET IBERICA, S.A.U.","Resto Producto Fresco / Leche, zumos, producto..."

In [417]:
dfosa_compras.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36297 entries, 0 to 76017
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_Prod_2       36297 non-null  object
 1   Año_Compra      36297 non-null  int64
 2   Mes_Compra      36297 non-null  int64
 3   Costo_Compra    36297 non-null  float64
 4   Fecha_Compra    36297 non-null  period[M]
 5   Nombre_Prod     36297 non-null  object
 6   Tipo_Prod       36297 non-null  object
 7   Proveedor       36297 non-null  object
 8   Categoria_Prod  36297 non-null  object
dtypes: float64(1), int64(2), object(5), period[M](1)
memory usage: 2.8+ MB

In [418]:
# Verificar valores nulos
dfosa_compras.isnull().sum()

Id_Prod_2         0
Año_Compra        0
Mes_Compra        0
Costo_Compra      0
Fecha_Compra      0
Nombre_Prod       0
Tipo_Prod         0
Proveedor         0
Categoria_Prod    0
dtype: int64

In [419]:
## Visualizar los atributos de dfosa_ventas y dfosa_compras para concadenarlos
dfosa_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93720 entries, 0 to 93719
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id_Prod_2    93720 non-null  object
 1   Nom_Prod     93720 non-null  object
 2   Cant_Prod    93720 non-null  float64
 3   Precio_Prod  93720 non-null  float64
 4   Fecha_Venta  93720 non-null  period[M]
 5   Año_Venta    93720 non-null  int64
 6   Mes_Venta    93720 non-null  int64
dtypes: float64(2), int64(2), object(2), period[M](1)
memory usage: 5.0+ MB

In [420]:
dfosa_compras.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36297 entries, 0 to 76017
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id_Prod_2       36297 non-null  object
 1   Año_Compra      36297 non-null  int64
 2   Mes_Compra      36297 non-null  int64
 3   Costo_Compra    36297 non-null  float64
 4   Fecha_Compra    36297 non-null  period[M]
 5   Nombre_Prod     36297 non-null  object
 6   Tipo_Prod       36297 non-null  object
 7   Proveedor       36297 non-null  object
 8   Categoria_Prod  36297 non-null  object
dtypes: float64(1), int64(2), object(5), period[M](1)
memory usage: 2.8+ MB

In [421]:
# Renombrar el campo Cant_Prod por Cant_Prod_Venta para señalar que pertenece al reporte de ventas
dfosa_ventas.rename(columns={'Cant_Prod':'Cant_Prod_Venta'}, inplace=True)

In [422]:
dfosa_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93720 entries, 0 to 93719
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id_Prod_2        93720 non-null  object
 1   Nom_Prod         93720 non-null  object
 2   Cant_Prod_Venta  93720 non-null  float64
 3   Precio_Prod      93720 non-null  float64
 4   Fecha_Venta      93720 non-null  period[M]
 5   Año_Venta        93720 non-null  int64
 6   Mes_Venta        93720 non-null  int64
dtypes: float64(2), int64(2), object(2), period[M](1)
memory usage: 5.0+ MB

In [423]:
# Queda pendiente concatenar dfosa_ventas y dfosa_compras pero priorizando el numero de registros de COMPRAS.
# Hay que analizar si debeos comprimar más el archivo de Ventas.

In [424]:
# Renombrar el campo Nom_Prod por Nombre_Prod en ventas para que coincida con la misma columna de compras y asi hacer el merge
dfosa_ventas.rename(columns={'Nom_Prod':'Nombre_Prod'}, inplace=True)

In [425]:
#igual se hace con la fecha
dfosa_ventas.rename(columns={'Fecha_Venta':'Fecha'}, inplace=True)
dfosa_compras.rename(columns={'Fecha_Compra':'Fecha'}, inplace=True)

### DATOS CONSOLIDADOS EN UN SOLO DATASET

In [426]:
Osa_df = dfosa_compras.merge(dfosa_ventas, on=['Id_Prod_2', 'Nombre_Prod', 'Fecha'], how='inner')
#merged_df = merged_df.drop_duplicates(subset=['Id_Prod_2', 'Año_C', 'Mes_Compra'])
Osa_df.head()
#lo convertimos a csv para continuar con el analisis en otro Notebook
Osa_df.to_csv('Osa_df.csv', header=True, index=False)

### ir al Dataset EDA_Osa.ipynb